<!-- Load Facebook SDK for JavaScript -->
<div class="fb-customerchat"
 page_id="101199068167985"
 minimized="false">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '912333495590130',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };
(function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</div>
<footer>
<div class="diachi text-center">
 <p><b>SHOWROOM TAKARA STANDARD</b></p>
 <p><i class="fas fa-map-marker-alt"></i><span class="pc">Showroom</span>201 Phan Đăng Lưu, Phường Khuê Trung, Quận Cẩm Lệ, Tp. Đà Nẵng, Việt Nam</p>
</div>
<div class="row justify-content-center pt-2 pb-2">
 <div class="col-12 col-sm-12 col-md-3">
   <a href="tel:0905878525">
     <div class="row">
       <div class="col-2">
         <i class="fas fa-phone"></i>
       </div>
       <div class="col-10">
         <p><b>HOTLINE</b></p>
         <p>0905 878 525</p>
       </div>
     </div>
   </a>
 </div>
 <div class="col-12 col-sm-12 col-md-3">
   <a href="mailto:contact_centralregion@nippontech.vn">
     <div class="row">
       <div class="col-2">
         <i class="far fa-envelope"></i>
       </div>
       <div class="col-10">
         <p><b>EMAIL</b></p>
         <p>contact_centralregion@nippontech.vn</p>
       </div>
     </div>
   </a>
 </div>
 <div class="col-12 col-sm-12 col-md-3">
   <a href="https://wwww.facebook.com/nippontech.central">
     <div class="row">
       <div class="col-2">
         <i class="fa fa-facebook-f"></i>
       </div>
       <div class="col-10">
         <p><b>FANPAGE</b></p>
         <p>fb.com/nippontech.central</p>
       </div>
     </div>
   </a>
 </div>
</div>

<div class="iconfooter text-center pt-3 pb-3">
<p class="mt-2" id="copyrighter">© CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI NIPPON TECH MIỀN TRUNG</p>
<div class="scroll-to-top" style = "padding-top: 10px; padding-right: 2%;">
  <i class="fa fa-angle-up" ></i>
</div>
</div>
</footer>
</div>