<!-- Load Facebook SDK for JavaScript -->
<div class="fb-customerchat"
 page_id="101199068167985"
 minimized="false">
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '912333495590130',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };
(function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</div>
<footer>
<div class="diachi text-center">
 <p><b>SHOWROOM TAKARA STANDARD</b></p>
 <p><i class="fas fa-map-marker-alt"></i><span class="pc">Showroom</span>201 Phan Đăng Lưu, Phường Khuê Trung, Quận Cẩm Lệ, Tp. Đà Nẵng, Việt Nam</p>
</div>
<div class="row justify-content-center pt-2 pb-2">
 <div class="col-12 col-sm-12 col-md-3">
   <a href="tel:0985858813">
     <div class="row">
       <div class="col-2">
         <i class="fas fa-phone"></i>
       </div>
       <div class="col-10">
         <p><b>HOTLINE</b></p>
         <p>0905 878 525</p>
       </div>
     </div>
   </a>
 </div>
 <div class="col-12 col-sm-12 col-md-3">
   <a href="/lien-he">
     <div class="row">
       <div class="col-2">
         <i class="far fa-envelope"></i>
       </div>
       <div class="col-10">
         <p><b>EMAIL</b></p>
         <p>contact_centralregion@nippontech.vn</p>
       </div>
     </div>
   </a>
 </div>
 <div class="col-12 col-sm-12 col-md-3">
   <a id="fb-customerchat">
     <div class="row">
       <div class="col-2">
         <i class="fas fa-user"></i>
       </div>
       <div class="col-10">
         <p><b>HỖ TRỢ TRỰC TUYẾN</b></p>
         <p>Nhấn để liên hệ</p>
       </div>
     </div>
   </a>
 </div>
</div>
<div class="iconfooter text-center pt-3 pb-3">
 <ul class="list-social">
    <li><a href="https://www.facebook.com/nippontech.central/"><i class="fab fa-facebook-square"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCUU3kjWU-eXJvzX0sEolDww"><i class="fab fa-youtube"></i></a></li>
 </ul>
<!--    <p class="mt-2" id="copyrighter">© 2018 Nippon Interia Company Ltd.</p>-->
 <div class="scroll-to-top">
    <i class="fa fa-angle-up" style = "margin-right: 5%"></i>
 </div>
</div>
</footer>
</div>