<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-control" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Expires" content="-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:type" content="website" />
<!-- <meta property="og:image" content="https://takarastandard.vn/wp-content/themes/takarastandard/img/Lemure-01-slide-cover-product-detail.jpg" /> -->
<meta name=”robots” content=”noodp,index,follow” />
<meta name="format-detection" content="telephone=no" />
<meta name="google-site-verification" content="k1BdfB3ByJHMsalKRK1N_FATLG96vVsaBcepath2EB0" />
<link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/fontawesome/css/all.css">
<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="css/carousel/owl.carousel.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/carousel/owl.theme.default.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/animate.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142464192-2"></script>
<script>  
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-142464192-2');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MDTXCV5');</script>
<!-- End Google Tag Manager -->
<meta name="description" content="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi.">
<meta name="keywords" content="Takara standard - Nội thất cao cấp Nhật Bản">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi." />
<meta property="og:description" content="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi." />
<title>Trang chủ | Takara standard - Nội thất cao cấp Nhật Bản</title>
<!--<script type="text/javascript">
var ajaxurl = "https://takarastandard.vn/wp-admin/admin-ajax.php";
</script>-->