<div class="container menu-header p-0" >
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
       <a class="navbar-brand" href="/">
       <img src="images/logo-navbar.png" alt="Takara standard" class="img-fluid img-logo" />
       </a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
             <div class="close-nav"><i class="fa fa-times"></i></div>
             <li class="nav-item dropdown"> 
                <a class="nav-link dropdown-toggle bd-r" href="/he-tu-bep">
                HỆ TỦ BẾP
                </a>    
                <div class="icon-plus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-plus"></i>
                </div>
                <div class="icon-minus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-minus"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="/lemure-series">LEMURE series</a>
                   <a class="dropdown-item" href="/treasia-series">TREASIA series</a>
                   <a class="dropdown-item" href="/edel-series">EDEL series</a>
                   <a class="dropdown-item" href="/phu-kien-tu-bep">Phụ kiện tủ bếp</a>
                </div>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/he-tu-guong">
                HỆ TỦ GƯƠNG
                </a>
                <div class="icon-plus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-plus"></i>
                </div>
                <div class="icon-minus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-minus"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="/eleena-series">ELEENA series</a>
                   <a class="dropdown-item" href="/famile-series">FAMILE series</a>
                   <a class="dropdown-item" href="/ondine-series">ONDINE series</a>
                   <a class="dropdown-item" href="/suria-series">SURIA series</a>
                </div>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/he-nha-tam">HỆ NHÀ TẮM</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/tam-op-tuong">TẤM ỐP TƯỜNG</a>
             </li>
            
             <li class="nav-item">
               <a class="nav-link" href="/quy-trinh-dat-hang">QUY TRÌNH <br/>ĐẶT HÀNG</a>
            </li>

             <!--
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/cong-trinh">
                CÔNG TRÌNH
                </a>
                <div class="icon-plus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-plus"></i>
                </div>
                <div class="icon-minus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <i class="fa fa-minus"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="/project-type/showroom">Showroom</a>
                   <a class="dropdown-item" href="/project-type/du-an">Dự Án</a>
                   <a class="dropdown-item" href="/project-type/nha-rieng ">Biệt thự / Nhà phố / Căn hộ</a>
                   <a class="dropdown-item" href="/cong-trinh">All</a>
                </div>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/lien-he">LIÊN HỆ</a>
             </li>
            

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle cuoicung" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <span class="navbar-toggler-icon"></span>
                   <div class="icon-plus">
                      <i class="fa fa-plus"></i>
                   </div>
                   <div class="icon-minus">
                      <i class="fa fa-minus"></i>
                   </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                   <a class="dropdown-item" href="/gioi-thieu">GIỚI THIỆU</a>
                   <a class="dropdown-item" href="/dac-tinh">ĐẶC TÍNH SẢN PHẨM</a>
                   <a class="dropdown-item" href="/quy-trinh">QUY TRÌNH SẢN XUẤT</a>
                   <a class="dropdown-item" href="/quy-trinh-dat-hang">QUY TRÌNH ĐẶT HÀNG</a>
                   <a class="dropdown-item" href="
                   /nippon-interia-va-hanh-trinh-khai-xuan-den-dat-nuoc-mat-troi-moc/                     ">TIN TỨC</a>
                </div>
             </li>
             -->  
          </ul>
       </div>
    </nav>
 </div>
 