<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("../partials/head") -%> 
   <meta name="description" content="Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.">
   <meta name="keywords" content="Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.">
   <meta property="og:title" content="Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm." />
   <meta property="og:description" content="Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm." />
   <title>Hệ tủ gương thép tráng men kính Nhật Bản</title>
</head>
<body>
   <main class="main list">
      <!-- header -->
      <%- include("../partials/header") -%> 
      <!--------------------------------------------->
      <!-- CONTENT LIST -->
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
         <div class="col-lg-2 col-md-12 col-12">
            <div class="logo-product"><img src="images/he-tu-guong/he-tu-guong/he-tu-guong.png" alt="Logo Hệ Tủ Gương"></div>
         </div>
      </div>
      <div class="container mb-4 pb-2">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-guong/he-tu-guong/Washstand-product-home-page-image-960x750.jpg" alt="Washstand product">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">ElEENA series</h4>
                        <p class="text-product">Dòng sản phẩm Washstand cao cấp nhất của Takara standard với chất liệu tuyệt hảo, màu sắc đa dạng, thiết kế sang trọng</p>
                  <a href="/eleena-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-guong/he-tu-guong/Famile_portfolio_thumb-1-960x750.jpg" alt="Famile portfolio">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">FAMILE series</h4>
                        <p class="text-product">Dòng Washstand với thiết kế thành chậu rửa 2 tầng, khu vực thấp hơn để đồ thường xuyên có tác động với nước và khu vực cao hơn để đồ khô</p>
                  <a href="/famile-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-guong/he-tu-guong/Odine-Portfolio-thumb-960x750.jpg" alt="Odine portfolio">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">ONDINE series</h4>
                        <p class="text-product">ONDINE là dòng Washstand có thiết kế chậu rửa và ngăn tủ toàn bộ bằng vật liệu Thép tráng men kính của Takara standard</p>
                  <a href="/ondine-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-guong/he-tu-guong/Suria-portfolio-thumb-960x750.jpg" alt="Suria portfolio">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">SURIA series</h4>
                        <p class="text-product">Dòng Washstand bằng Thép tráng men kính cơ bản, giá thành sản phẩm phù hợp với điều kiện tài chính của các gia đình Việt Nam</p>
                  <a href="/suria-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="dsnone">
           <h1>Hệ tủ gương thép tráng men kính Nhật Bản</h1>
           <h2>Hệ tủ gương thép tráng men kính Nhật Bản</h2>
           <h2>Hệ tủ gương thép tráng men kính Nhật Bản</h2>
           <h3>Hệ tủ gương thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ gương thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ gương thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ gương thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ gương thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ gương thép tráng men kính Nhật Bản</h3>
           <h4>Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.</h4>
           <h4>Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.</h4>
           <h4>Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.</h4>
           <h4>Hệ tủ gương thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.</h4>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
         </div>
         <!--footer-->
       </div>
<footer>
    <%- include("../partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
</body>
</html
