<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
<%- include("./partials/head") -%> 
<meta name="description" content="famile - Thiết kế đơn giản nhưng tiện lợi, nhiều lựa chọn về màu sắc">
<meta name="keywords" content="famile - Thiết kế đơn giản nhưng tiện lợi, nhiều lựa chọn về màu sắc">
<meta property="og:title" content="famile - Thiết kế đơn giản nhưng tiện lợi, nhiều lựa chọn về màu sắc" />
<meta property="og:description" content="famile - Thiết kế đơn giản nhưng tiện lợi, nhiều lựa chọn về màu sắc" />
<title>FAMILE series | Takara standard</title>
<style type="text/css">
.slides ul li:after {display: none;}.size .owl-item .item {width: 50px;margin: auto;}.wraper{height: inherit !important}.title-section::after{display: none}
</style>
</head>
<body>
<main class="main list washstand">
   <!-- header -->
   <%- include("./partials/header") -%> 
   <!--------------------------------------------->
   <!-- CONTENT PRODCUT -->
   <!-- SLIDES -->
   <div class="row pc">
      <div class="wraper">
         <div class="slides">
            <div class="owl-carousel owl-theme" id="slider-famile">
                                                 <div class="item"><img src="images/famile-series/khung-hinh-website-Famile_result.jpg" alt="Mẫu sản phẩm Famile"></div>
                              </div>
         </div>
      </div>
   </div>
   <div class="row mobi">
      <div class="wraper">
         <div class="slides">
            <div class="owl-carousel owl-theme" id="slider-famile1">
            <div class="item"><img src="images/famile-series/SU_000960_result.jpg" alt="Mẫu sản phẩm Famile"></div>
                <div class="item"><img src="images/famile-series/SU_001000_result.jpg" alt="Mẫu sản phẩm Famile"></div>
                <div class="item"><img src="images/famile-series/SU_000967_result.jpg" alt="Mẫu sản phẩm Famile"></div>
                <div class="item"><img src="images/famile-series/SU_001029_result.jpg" alt="Mẫu sản phẩm Famile"></div>
            </div>
         </div>
      </div>
   </div>
   <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
      <div class="col-lg-2 col-md-12 col-12">
         <div class="logo-product"><img src="images/famile-series/Famile-page-Logo.png" alt="Logo Famile"></div>
      </div>
   </div>
   <div class="container mb-4">
      <!-- CONTENT -->
      <div class="row">
         <div data-wow-duration="1s" class="col-md-12 wow fadeIn" style="background-color: white;padding-bottom: 30px;">
            <div class="title-section washstand-title">
               <h3>PHONG CÁCH THIẾT KẾ</h3><p>Thành Washstand với thiết kế 2 tầng</p>               </div>
            <div class="row mt-4">
               <div class="col-md-12 col-sm-12 col-12 mt-4 box-content-wash">
                  <div class="img-content fix-img-content">
                     <img src="images/famile-series/Eleena-page-dac-diem-noi-bat.jpg" alt="Washstand với thiết kế 2 tầng">
                  </div>
                  <div class="text-wash">
                    <p>Nét đặc trưng của Hệ tủ gương (Washstand) dòng FAMILE là thành chậu rửa được thiết kế chia làm hai khu vực: Khu vực khô: có vị trí cao hơn, là nơi đặt những vật dụng và thiết bị điện không tiếp xúc với nước như khăn, lược, máy sấy tóc, máy cạo râu... Khu vực tiếp xúc với nước: có vị trí thấp hơn, là nơi đặt các đồ dùng khác như hóa mỹ phẩm, sữa rửa mặt, nước rửa tay...</p>                     </div>
               </div>
            </div>
         </div>
         <div data-wow-duration="1s" class="col-md-12 asd wow fadeIn">
            <div class="title-section washstand-title">
               <h3>NHỮNG ƯU ĐIỂM CỦA WASHSTAND DÒNG FAMILE</h3><p>Washstand dòng FAMILE sở hữu rất nhiều ưu điểm của vật liệu Thép tráng men kính:</p>               </div>
         </div>
         <div data-wow-duration="1s" class="col-md-12 mt-4 zxc wow fadeIn" style="padding-bottom:30px">
            <div class="row">
               <div class="col-md-6 col-sm-12 col-12 mt-4 box-content-wash">
                  <div class="img-content fix-img-content">
                     <img src="images/famile-series/Famile-page-A-space-to-enjoy-beauty.jpg" alt="Không gian tuyệt vời để chăm sóc sắc đẹp">
                  </div>
                  <div class="text-wash">
                     <h3>Không gian tuyệt vời để chăm sóc sắc đẹp</h3><p>Gương soi và đèn LED đặc biệt phản chiếu hình ảnh siêu thực, giúp chị em phụ nữ tự trang điểm hoặc tẩy trang dễ dàng hơn. Ngoài ra, Washstand dòng FAMILE còn thiết kế ổ cắm điện phía trước, giúp cho việc sử dụng các thiết bị điện như máy sấy tóc, máy cạo râu... thuận tiện hơn.</p>                     </div>
               </div>
               <div class="col-md-6 col-sm-12 col-12 mt-4 box-content-wash">
                  <div class="img-content fix-img-content">
                     <img src="images/famile-series/Famile-page-Easy-to-clean.jpg" alt="Dễ dàng vệ sinh">
                     <div class="text-wash">
                        <h3>Dễ dàng vệ sinh</h3><p>Washstand dòng FAMILE với thiết kế bằng Thép tráng men kính kết hợp mặt bàn bằng đá thạch anh nhân tạo hoặc acrylic chất lượng cao, giúp việc vệ sinh vết bẩn trở nên dễ dàng chỉ bằng cách lau qua với nước. Chất liệu Thép tráng men kính không thấm nước cũng giúp khu vực nơi có độ ẩm cao và tần xuất sử dụng thường xuyên này luôn sạch sẽ, khô ráo.</p>                        </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-sm-12 col-12 mt-4 box-content-wash">
                  <div class="img-content fix-img-content">
                     <img src="images/famile-series/Famile-page-Redundant-storage.jpg" alt="Không gian trữ đồ lớn">
                  </div>
                  <div class="text-wash">
                     <h3>Không gian trữ đồ lớn</h3><p>Washstand dòng FAMILE được thiết kế với rất nhiều ngăn tủ bên dưới chậu rửa, hệ gương soi cũng được thiết kế phía sau như một ngăn chứa đồ nhằm tối ưu không gian lưu trữ. Các ngăn tủ với vật liệu Thép tráng men kính được đệm bằng gioăng cao su giúp việc kéo mở luôn thoải mái, thuận tiện.</p>                     </div>
               </div>
               <div class="col-md-6 col-sm-12 col-12 mt-4 box-content-wash">
                  <div class="img-content fix-img-content">
                     <img src="images/famile-series/Famile-page-High-quality-enamel.jpg" alt="Thừa hưởng toàn bộ tính năng ưu việt của Thép tráng men kính">
                     <div class="text-wash">
                        <h3>Thừa hưởng toàn bộ tính năng ưu việt của vật liệu Thép tráng men kính</h3><p>Với khoang tủ làm bằng vật liệu Thép tráng men kính, Washstand dòng FAMILE thừa hưởng toàn bộ những ưu điểm nổi trội của loại vật liệu này như: An toàn cho sức khỏe, chống cháy, không bám mùi, dễ dàng tùy biến kệ chứa đồ bằng phụ kiện hút nam châm... <a href="https://takarastandard.vn/dac-tinh">(tìm hiểu thêm)</a>.</p>                        </div>
                  </div>
               </div>
            </div>
         </div>
         <div data-wow-duration="1s" class="col-md-12 asd wow fadeIn">
            <div class="title-section washstand-title">
               <h3>LỰA CHỌN KÍCH CỠ VÀ MÀU SẮC</h3><p>Khách hàng có thể tùy chọn kích thước và màu sắc sản phẩm phù hợp với sở thích và cá tính của mình. </p><p>Một Washstand tiệp màu với Hệ tủ bếp sẽ tạo phong cách riêng cho ngôi nhà thân yêu của bạn!</p>               </div>
         </div>
         <div data-wow-duration="1s" class="col-md-12 mt-4 zxc wow fadeIn">
            <div class="row">
               <div class="col-md-6 col-12 qwe">
                  <h4>MÀU SẮC (8 LỰA CHỌN)</h4>
                  <div class="wrapper2">
                     <div class="slides2">
                        <ul>
                           <li id="color-1">
                              <img src="images/famile-series/Famile-yfb-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                           <li class="hienra" id="color-2">
                              <img src="images/famile-series/Famile-yfw-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                           <li id="color-3">
                              <img src="images/famile-series/Famile-ypi-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                           <li id="color-4">
                              <img src="images/famile-series/Famile-ysa-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                           <li id="color-5">
                              <img src="images/famile-series/Famile-ysp-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                           <li id="color-6">
                              <img src="images/famile-series/Famile-ysw-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                           <li id="color-7">
                              <img src="images/famile-series/Famile-ywv-picture.png" alt="Mẫu sản phẩm Famile">
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="owl-carousel owl-theme mt-4 color-click carousel-auto" id="color-product">
                     <div class="item" data-color="color-1"><img src="images/famile-series/Famile-yfb-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-2"><img src="images/famile-series/Famile-yfw-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-3"><img src="images/famile-series/Famile-ypi-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-4"><img src="images/famile-series/Famile-ysa-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-5"><img src="images/famile-series/Famile-ysp-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-6"><img src="images/famile-series/Famile-ysw-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-7"><img src="images/famile-series/Famile-ywq-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                     <div class="item" data-color="color-7"><img src="images/famile-series/Famile-ywv-thumb.jpg" alt="Mẫu sản phẩm Famile"></div>
                  </div>
               </div>
               <div class="col-md-6 col-12 qwe">
                  <h4>KÍCH CỠ</h4>
                  <ul class="list-3">
                     <li class="show-img" id="change-1">
                        <img src="images/famile-series/Famile-size-60cm.png" alt="Famile 60cm">
                     </li>
                     <li id="change-2">
                        <img src="images/famile-series/Famile-size-75cm.png" alt="Famile 75cm">
                     </li>
                     <li id="change-3">
                        <img src="images/famile-series/Famile-size-90cm.png" alt="Famile 90cm">
                     </li>
                     <li id="change-4">
                        <img src="images/famile-series/Famile-size-100cm.png" alt="Famile 100cm">
                     </li>
                     <li id="change-5">
                        <img src="images/famile-series/Famile-size-120cm.png" alt="Famile 120cm">
                     </li>
                  </ul>
                  <div class="owl-carousel owl-theme mt-4 change-click carousel-auto size" id="famile-size">
                     <div class="item" data-change="change-1"><img src="images/famile-series/Famile-size-60cm-Thumb.png" alt="Famile 60cm"></div>
                     <div class="item" data-change="change-2"><img src="images/famile-series/Famile-size-75cm-Thumb.png" alt="Famile 75cm"></div>
                     <div class="item" data-change="change-3"><img src="images/famile-series/Famile-size-90cm-Thumb.png" alt="Famile 90cm"></div>
                     <div class="item" data-change="change-4"><img src="images/famile-series/Famile-size-100cm-Thumb.png" alt="Famile 100cm"></div>
                     <div class="item" data-change="change-5"><img src="images/famile-series/Famile-size-120cm-Thumb.png" alt="Famile 120cm"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
      <!--footer-->
   <footer>
    <%- include("./partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
<script type="text/javascript" src="js/script-home.js"></script>
<script type="text/javascript" src="js/navbar-mobile.js"></script>
<script type="text/javascript">
   $('html').on('click','.change-click .item',function(){var change=$(this).attr('data-change');$('html').find('.list-3 li').removeClass('show-img');$('html').find('.list-3 li#'+change).addClass('show-img')});$('html').on('click','.color-click .item',function(){var color=$(this).attr('data-color');$('html').find('.slides2 ul li').removeClass('hienra');$('html').find('.slides2 ul li#'+color).addClass('hienra')});document.addEventListener("DOMContentLoaded",function(){auto2();var slides2=document.querySelectorAll('div.slides2 ul li')
   var cuoicung2=slides2.length-1;function auto2(){var thoigian2=setInterval(function(){var vitrislideht=0;var slideht2=document.querySelector('ul li.hienra');for(var i=0;slideht2=slideht2.previousElementSibling;vitrislideht++){}
   for(var i=0;i<slides2.length;i++){slides2[i].classList.remove('hienra')}
   if(vitrislideht==cuoicung2){vitrislideht=-1}
   slides2[vitrislideht+1].classList.add('hienra')},3000)
   var stop=document.querySelectorAll('.color-click .item');for(var i=0;i<stop.length;i++){stop[i].addEventListener('click',function(){clearInterval(thoigian2)})}}},!1)
</script>
<script>
   $('#color-product').owlCarousel({loop:true,margin:2,nav:true,responsive:{0:{items:5},600:{items:5},1000:{items:5}}});
   $('#famile-size').owlCarousel({loop:true,margin:2,nav:true,responsive:{0:{items:5},600:{items:5},1000:{items:5}}});
   $('#slider-famile').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
   $('#slider-famile1').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
</script>
</body>
</html
