<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("./partials/head") -%> 

     <!-- End Google Tag Manager -->
   <meta name="description" content="Hệ nhà tắm thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.">
   <meta name="keywords" content="Hệ nhà tắm thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="og:title" content="Hệ nhà tắm thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm." />
   <meta property="og:type" content="website">
   <meta property="og:url" content="/he-nha-tam">
   <meta property="og:image" content="images/he-nha-tam/Kitchen-system-product-home-page-image-960x750.jpg">
   <meta property="og:description" content="Hệ nhà tắm thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm." />
   <title>Hệ nhà tắm thép tráng men kính Nhật Bản</title>
   <style media="screen">
     .img-content img{max-height: 300px;object-fit: cover;}li{line-height: 1.5;color: rgba(0,0,0,0.7)}.wrap-product p{margin: 12px 0}.row ul li{color: #747474;line-height: 1.5;text-align: justify;font-weight: bold;padding-left: 20px;}p img{width: 100%}.wrap-product h3{margin-top: 25px}strong{font-weight:bold}
   </style>
</head>
<body>
  <body>
     <main class="main list">
        <!-- header -->
        <%- include("./partials/header") -%> 
        <!--------------------------------------------->
        <!-- CONTENT PRODCUT -->
           <!-- SLIDES -->
           <div class="row pc">
              <div class="wraper">
                 <div class="slides">
                    <div class="owl-carousel owl-theme" id="slider-suria">
                                                                        <div class="item">
                        <img src="images/he-nha-tam/banner-bathroom.jpg" alt="Mẫu sản phẩm Hệ nhà tắm">
                      </div>
                                             </div>
                 </div>
              </div>
           </div>
           <div class="row mobi">
              <div class="wraper">
                 <div class="slides">
                    <div class="owl-carousel owl-theme" id="slider-suria1">
                                                                        <div class="item">
                        <img src="images/he-nha-tam/PT-2.jpg" alt="Mẫu sản phẩm Hệ nhà tắm">
                      </div>
                                               <div class="item">
                        <img src="images/he-nha-tam/PT-3.jpg" alt="Mẫu sản phẩm Hệ nhà tắm">
                      </div>
                                               <div class="item">
                        <img src="images/he-nha-tam/PT-1.jpg" alt="Mẫu sản phẩm Hệ nhà tắm">
                      </div>
                                               <div class="item">
                        <img src="images/he-nha-tam/PT-4-đã-nén.jpg" alt="Mẫu sản phẩm Hệ nhà tắm">
                      </div>
                                               <div class="item">
                        <img src="images/he-nha-tam/PT-5-đã-nén.jpg" alt="Mẫu sản phẩm Hệ nhà tắm">
                      </div>
                                             </div>
                 </div>
              </div>
           </div>
           <!-- CONTENT -->
           <!-- <div class="row bg-gray"></div> -->
           <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
              <div class="col-lg-2 col-md-12 col-12">
                 <div class="logo-product"><img src="images/he-nha-tam/Bathroom-logo.png" alt="Logo Hệ nhà tắm"></div>
              </div>
           </div>
       <div data-wow-duration="1s" class="container mb-4 pb-4 pt-4 fadeIn">
           <div class="row">
              <div class="col-lg-4 col-md-12 col-12">
                 <div class="wrap-product">
                    <h3>ĐẶC ĐIỂM NỔI BẬT</h3><p>Bồn tắm thép kính tráng men là loại bồn tắm cao cấp, đáp ứng những tiêu chuẩn khắt khe trong những khách sạn sang trọng trên toàn thế giới.</p><p>Phòng tắm là nơi quan trọng để thư giãn sau một ngày dài vất vả. Ngâm mình trong bồn tắm không chỉ vào những ngày hè nóng bức, kể cả các ngày đông lạnh giá.<span class="redactor-invisible-space"><br></span></p><p><span class="redactor-invisible-space"><img src="https://b-f25-zpg.zdn.vn/859701584365651676/97dec7ddfd2f1b71423e.jpg"><span class="redactor-invisible-space"><br></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space">Bồn tắm có tính năng đặc biệt là lưu trữ nhiệt trong thời gian dài gấp đôi, nhờ khả năng cách nhiệt. Tấm giữ nhiệt có tác dụng duy trì độ ấm của nước tắm, ngăn sự thất thoát nhiệt qua thành bồn, tiết kiệm đáng kể điện năng sử dụng trong nhà tắm.<span class="redactor-invisible-space"><br></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><img src="https://b-f23-zpg.zdn.vn/933263654128748293/37d901da3b28dd768439.jpg"><span class="redactor-invisible-space"><br></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space">Tính năng giữ nhiệt vượt trội của bồn tắm giúp giảm tụ máu đông, giúp lưu thông tuần hoàn máu tốt hơn, giảm các mô mỡ làm tiêu hao mỡ thừa, khử mùi hôi cơ thể.<span class="redactor-invisible-space"><br></span></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><img src="https://b-f22-zpg.zdn.vn/770124110880876135/bef4fbf4c10627587e17.jpg"><span class="redactor-invisible-space"><br></span></span></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space">Chất liệu thép tráng men kính chống trầy, chống ẩm mốc, chống bám bẩn và dễ lau chùi.<span class="redactor-invisible-space"><br></span></span></span></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><img src="https://b-f25-zpg.zdn.vn/1774704751050228785/db56425678a49efac7b5.jpg"><span class="redactor-invisible-space"><br></span></span></span></span></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space">Vách, trần, sàn, bồn tắm sử dụng chất liệu đặc biệt, giữ nhiệt tốt, dễ vệ sinh giúp phòng tắm luôn sạch bóng, mang lại cảm giác thoải mái và an tâm nhất khi sử dụng.<span class="redactor-invisible-space"><br></span></span></span></span></span></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><img src="https://b-f23-zpg.zdn.vn/9070314823835295104/9ad79cd6a624407a1935.jpg"><span class="redactor-invisible-space"><br></span></span></span></span></span></span></span></span></span></span></p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space">Sàn chống trầy xước, không trơn trượt, tránh tình trạng vấp ngã trong lúc tắm.<span class="redactor-invisible-space"><br></span></span></span></span></span></span></span></span></span></span></span></p><p>Men có đặc tính chống trầy xước mạnh mẽ và có thể dễ dàng lau sạch mọi vết bẩn, giữ cho bồn tắm luôn mới và sáng.</p><p><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"><span class="redactor-invisible-space"></span></span></span></span></span></span></span></span></span></span></span></p><p>Men chất lượng cao, gấp ba lần FRP (nhựa gia cường thủy tinh), sẽ giúp bạn có thời gian tắm thư giãn hơn.</p>
                 </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12">
                 <div class="wrap-product">
                    <h3>THIẾT KẾ</h3><p>Bồn tắm tráng men có thiết kế hoàn mỹ, tinh tế phù hợp với dáng người châu Á, bên trong bồn tắm có các gờ để tay chân, tựa lưng như trên một chiếc ghế thư giãn, thả người vào dòng nước ấm trong bồn, giảm tụ máu đông, kích thích tuần hoàn máu, tiêu hao mỡ thừa, …</p><p><img src="https://b-f25-zpg.zdn.vn/7351230301858239492/1ed648d07222947ccd33.jpg"></p><p>Bên cạnh đó, bồn có nhiều kích cỡ, tích hợp thêm kệ gác chân thư giãn, hình dạng phù hợp với nhu cầu, sở thích người sử dụng.</p><p><img src="https://b-f24-zpg.zdn.vn/4400941788223106271/3cc616c12c33ca6d9322.jpg"></p><p>Bồn tắm OVAL có dáng tròn thanh thoát, nhẹ nhàng ôm lấy người sử dụng, mang đến cảm giác dễ chịu từ khi bạn vừa đặt chân vào nhà tắm. Bên trong bồn cũng có các gờ đặt tay để tư thế ngả lưng được thoải mái hơn.</p><p><img src="https://b-f23-zpg.zdn.vn/5788090285666515937/0dec52e8681a8e44d70b.jpg"></p><p "=""><strong></strong></p><h3 "="">MÀU SẮC CHO NHÀ TẮM</h3><p>Có 4 lựa chọn màu sắc như sau:</p><ul><li><strong>W: Trắng (White)</strong></li><li><strong>D: Vàng nhạt (Beige)</strong></li><li><strong>B: Nâu đậm (Dark Brown)</strong></li><li><strong>K: Đen (Black)<br></strong></li></ul><p><strong><br><img src="https://lh5.googleusercontent.com/4xbxoQ9bJSchQhzQbRC_bryR2Ss3j3ZEmF8GsJje-CbF5wQi6Xh9eNqeg18zuKjNc97QA21HZV6fA_R0R-Xf0vjm_wNBXOlaK93iEI3BrDjw60N0I2XBnI9H1Cqtra1kVmnPVwrd"><br></strong></p><p><strong></strong></p>                       <p>MÀU SẮC CHO TẤM ỐP TƯỜNG:</p>
                    <div class="wrapper2">
                       <div class="slides2">
                          <ul>
                             <li id="color-1">
                                <img src="images/he-nha-tam/1.jpg" alt="Màu sản phẩm">
                             </li>
                             <li class="hienra" id="color-2">
                                <img src="images/he-nha-tam/2.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-3">
                                <img src="images/he-nha-tam/3.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-4">
                                <img src="images/he-nha-tam/4.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-5">
                                <img src="images/he-nha-tam/5.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-6">
                                <img src="images/he-nha-tam/6.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-7">
                                <img src="images/he-nha-tam/7.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-8">
                                <img src="images/he-nha-tam/8.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-9">
                                <img src="images/he-nha-tam/9.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-10">
                                <img src="images/he-nha-tam/10.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-11">
                                <img src="images/he-nha-tam/11.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-12">
                                <img src="images/he-nha-tam/12.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-13">
                                <img src="images/he-nha-tam/13.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-14">
                                <img src="images/he-nha-tam/14.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-15">
                                <img src="images/he-nha-tam/15.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-16">
                                <img src="images/he-nha-tam/17.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-17">
                                <img src="images/he-nha-tam/18.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-18">
                                <img src="images/he-nha-tam/19.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-19">
                                <img src="images/he-nha-tam/20.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-20">
                                <img src="images/he-nha-tam/21.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-21">
                                <img src="images/he-nha-tam/22.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-22">
                                <img src="images/he-nha-tam/23.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-23">
                                <img src="images/he-nha-tam/24.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-24">
                                <img src="images/he-nha-tam/25.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-25">
                                <img src="images/he-nha-tam/26.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-26">
                                <img src="images/he-nha-tam/27.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-27">
                                <img src="images/he-nha-tam/28.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-28">
                                <img src="images/he-nha-tam/29.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-29">
                                <img src="images/he-nha-tam/30.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-30">
                                <img src="images/he-nha-tam/31.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-31">
                                <img src="images/he-nha-tam/32.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-32">
                                <img src="images/he-nha-tam/33.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-33">
                                <img src="images/he-nha-tam/34.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-34">
                                <img src="images/he-nha-tam/35.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-35">
                                <img src="images/he-nha-tam/36.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-36">
                                <img src="images/he-nha-tam/37.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-37">
                                <img src="images/he-nha-tam/38.jpg" alt="Màu sản phẩm">
                             </li>
                             <li id="color-38">
                                <img src="images/he-nha-tam/39.jpg" alt="Màu sản phẩm">
                             </li>
                          </ul>
                       </div>
                    </div>
                    <div class="owl-carousel owl-theme mt-4 color-click carousel-auto" id="color-product">
                       <div class="item" data-color="color-1"><img src="images/he-nha-tam/color/1.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-2"><img src="images/he-nha-tam/color/2.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-3"><img src="images/he-nha-tam/color/3.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-4"><img src="images/he-nha-tam/color/4.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-5"><img src="images/he-nha-tam/color/5.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-6"><img src="images/he-nha-tam/color/6.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-7"><img src="images/he-nha-tam/color/7.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-8"><img src="images/he-nha-tam/color/8.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-9"><img src="images/he-nha-tam/color/9.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-10"><img src="images/he-nha-tam/color/10.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-11"><img src="images/he-nha-tam/color/11.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-12"><img src="images/he-nha-tam/color/12.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-13"><img src="images/he-nha-tam/color/13.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-14"><img src="images/he-nha-tam/color/14.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-15"><img src="images/he-nha-tam/color/15.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-16"><img src="images/he-nha-tam/color/16.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-17"><img src="images/he-nha-tam/color/17.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-18"><img src="images/he-nha-tam/color/18.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-19"><img src="images/he-nha-tam/color/19.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-20"><img src="images/he-nha-tam/color/20.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-21"><img src="images/he-nha-tam/color/21.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-22"><img src="images/he-nha-tam/color/22.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-23"><img src="images/he-nha-tam/color/23.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-24"><img src="images/he-nha-tam/color/24.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-25"><img src="images/he-nha-tam/color/25.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-26"><img src="images/he-nha-tam/color/26.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-27"><img src="images/he-nha-tam/color/27.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-28"><img src="images/he-nha-tam/color/28.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-29"><img src="images/he-nha-tam/color/29.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-30"><img src="images/he-nha-tam/color/30.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-31"><img src="images/he-nha-tam/color/31.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-32"><img src="images/he-nha-tam/color/32.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-33"><img src="images/he-nha-tam/color/33.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-34"><img src="images/he-nha-tam/color/34.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-35"><img src="images/he-nha-tam/color/35.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-36"><img src="images/he-nha-tam/color/36.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-37"><img src="images/he-nha-tam/color/37.jpg" alt="Màu sản phẩm"></div>
                       <div class="item" data-color="color-38"><img src="images/he-nha-tam/color/38.jpg" alt="Màu sản phẩm"></div>
                    </div>
                 </div>
              </div>
              <div class="col-lg-4 col-md-12 col-12">
                 <div class="wrap-product">
                    <h3>CÁC PHỤ KIỆN PHÒNG TẮM</h3><p><strong>Kệ để đồ</strong></p><p>Với thành phần chủ yếu từ thủy tinh tự nhiên, thiết kế đơn giản nhưng chắc chắn của bệ đá thạch anh, có 3 lựa chọn màu sắc dưới đây</p><ul><li><strong>Q: Đen thạch anh (Jewel plaque)</strong></li><li><strong>D: Nâu thạch anh (Cashew brown)</strong></li><li><strong>H: Trắng thạch anh (Bransolve)</strong></li></ul><p><img src="https://b-f23-zpg.zdn.vn/7741254011365621107/3b389c3da6cf409119de.jpg"></p><p><strong>Giá đỡ nam châm</strong></p><p>Được gắn chắc chắn vào tường bằng lực kép của nam châm và lực hút. Tải trọng tối đa là 1.5kg, vì vậy giá khó bị trượt hay rơi vỡ.</p><p><img src="https://b.f11.group.zp.zdn.vn/6285417766240380185/a6d157db6d298b77d238.jpg"></p><p><strong>Loa Bluetooth gắn nam châm</strong></p><p>Có khả năng chống nước, được kết nối với smartphone của bạn, vừa nghe nhạc vừa thư giãn trong bồn tắm. Nhờ mặt nam châm sau lưng, âm nhạc có thể theo bạn đến bất cứ nơi đâu.</p><p><img src="https://b-f23-zpg.zdn.vn/2476747290533480683/2505a00f9afd7ca325ec.jpg"><br></p><p><strong>Cửa thoát nước</strong></p><p>Khu vực xả nước có dụng cụ lọc tóc hoặc rác thải, dễ dàng sử dụng, tránh tình trạng tắc nghẽn ống thoát nước.</p><p><img src="https://b.f11.group.zp.zdn.vn/4669108386720309662/dad8fdd3c721217f7830.jpg"><br></p><p><strong>Máy sưởi phòng tắm</strong> </p><p "="">Máy sưởi có thể ấm vào mùa đông, giúp không gian phòng tắm trở nên ấm áp vào những ngày lạnh giá. Đồng thời, với quần áo bị ẩm ướt, chưa kịp phơi khô vào những ngày mưa, bạn có thể treo đồ giặt trong phòng tắm để đồ được hong khô mau hơn. </p><p><img src="https://lh3.googleusercontent.com/m_cZc0Ld-4IQugaMSfP9MzOuZpdDdFmZjvqdA6vLo9C-IA30QORBdh2vUs6GXLkCCwWa60HxHqiUUITlxmrYT0ikCvIwr-ThHtx67Gm5cZHg905wgRt43DnDYexp_KgRJ4_1gK4F"><br></p><blockquote style="margin-left: 5px;"></blockquote>
                 </div>
              </div>
           </div>
         </div>
         <div class="dsnone">
           <h1>Hệ nhà tắm thép tráng men kính Nhật Bản</h1>
           <h2>Hệ nhà tắm thép tráng men kính Nhật Bản</h2>
           <h2>Hệ nhà tắm thép tráng men kính Nhật Bản</h2>
           <h3>Hệ nhà tắm thép tráng men kính Nhật Bản</h3>
           <h3>Hệ nhà tắm thép tráng men kính Nhật Bản</h3>
           <h3>Hệ nhà tắm thép tráng men kính Nhật Bản</h3>
         </div>
           <!--footer-->
<footer>
    <%- include("./partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
     <script type="text/javascript" src="js/script-home.js"></script>
     <script type="text/javascript" src="js/navbar-mobile.js"></script>
     <script type="text/javascript">
        $('html').on('click','.change-click .item',function(){var change=$(this).attr('data-change');$('html').find('.list-3 li').removeClass('show-img');$('html').find('.list-3 li#'+change).addClass('show-img')});$('html').on('click','.color-click .item',function(){var color=$(this).attr('data-color');$('html').find('.slides2 ul li').removeClass('hienra');$('html').find('.slides2 ul li#'+color).addClass('hienra')});document.addEventListener("DOMContentLoaded",function(){auto2();var slides2=document.querySelectorAll('div.slides2 ul li')
        var cuoicung2=slides2.length-1;function auto2(){var thoigian2=setInterval(function(){var vitrislideht=0;var slideht2=document.querySelector('ul li.hienra');for(var i=0;slideht2=slideht2.previousElementSibling;vitrislideht++){}
        for(var i=0;i<slides2.length;i++){slides2[i].classList.remove('hienra')}
        if(vitrislideht==cuoicung2){vitrislideht=-1}
        slides2[vitrislideht+1].classList.add('hienra')},3000)
        var stop=document.querySelectorAll('.color-click .item');for(var i=0;i<stop.length;i++){stop[i].addEventListener('click',function(){clearInterval(thoigian2)})}}},!1)
     </script>
     <script>
        $('#color-product').owlCarousel({loop:true,margin:2,nav:true,responsive:{0:{items:5},600:{items:5},1000:{items:5}}});
        $('#slider-lemure').owlCarousel({loop:true,margin:10,nav:true,items:1,dots:true,autoplay:true,autoPlaySpeed:8000,autoplayTimeout:8000,autoplayHoverPause:false,animateOut:'fadeOut'});
        $('#slider-suria').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
        $('#slider-suria1').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
        $( document ).ready(function() {
             $('img:not([alt])').attr('alt', 'Mẫu sản phẩm Hệ nhà tắm');
         });
     </script>
</body>
</html
