<!DOCTYPE html>
<html lang="vi" dir="ltr">
<head>
    <%- include("./partials/head") -%> 
    <meta name="description" content="Hệ tủ bếp thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.">
    <meta name="keywords" content="Hệ tủ bếp thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Hệ tủ bếp thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm." />
    <meta property="og:description" content="Hệ tủ bếp thép tráng men kính Nhật Bản với chất liệu độc đáo chống trầy xước, chống mối mọt, chống cháy và dễ dàng lau chùi. Độ bền 50 năm." />
    <title>Hệ tủ bếp thép tráng men kính Nhật Bản</title>
</head>
<body>
   <main class="main list">
      <!-- header -->
      <%- include("./partials/header") -%> 
      <!--------------------------------------------->
      <!-- CONTENT LIST -->
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
         <div class="col-lg-2 col-md-12 col-12">
            <div class="logo-product"><img src="images/he-tu-bep/he-tu-bep-logo.png" alt="Logo Hệ Tủ Bếp"></div>
         </div>
      </div>
      <div class="container mb-4 pb-2">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-bep/Kitchen-system-product-home-page-image-960x750.jpg" alt="Kitchen system product">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">LEMURE series</h4>
                        <p class="text-product">Dòng sản phẩm Tủ bếp Thép tráng men kính cao cấp nhất của Takara standard, đường nét tinh tế, sắc sảo, nhiều lựa chọn. Kiểu dáng: bàn đảo, chữ I, chữ U, chữ L</p>
                        <a href="https://takarastandard.vn/lemure-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-bep/Emage-portfolio-image-960x750.jpg" alt="Emage portfolio">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">TREASIA series</h4>
                        <p class="text-product">Need to update</p>
                        <a href="https://takarastandard.vn/emage-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-bep/Ritela-portfolio-image-960x750.jpg" alt="Ritela portfolio">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">EDEL series</h4>
                        <p class="text-product">Hệ tủ bếp Thép tráng men kính cơ bản của Takara standard, mang đầy đủ đặc tính của vật liệu này với mức chi phí hợp lý</p>
                        <a href="https://takarastandard.vn/ritela-series">Tìm hiểu thêm</a>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/he-tu-bep/Edel-portfolio-image-960x750.jpg" alt="Edel portfolio">
                     </div>
                     <div class="des-product">
                        <h4 class="name-product">Phụ kiện tủ bếp</h4>
                        <p class="text-product">Một tủ bếp đẳng cấp không thể thiếu được những phụ kiện tủ bếp chất lượng đi kèm!</p>
                        <a href="https://takarastandard.vn/edel-series">Xem thêm</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="dsnone">
           <h1>Hệ tủ bếp thép tráng men kính Nhật Bản</h1>
           <h2>Hệ tủ bếp thép tráng men kính Nhật Bản</h2>
           <h2>Hệ tủ bếp thép tráng men kính Nhật Bản</h2>
           <h3>Hệ tủ bếp thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ bếp thép tráng men kính Nhật Bản</h3>
           <h3>Hệ tủ bếp thép tráng men kính Nhật Bản</h3>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h5>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h5>
           <h6>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h6>
           <h6>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h6>
           <h6>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h6>
           <h6>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h6>
           <h6>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h6>
           <h6>Takara standard - Thương hiệu cung cấp các dòng sản phẩm Hệ tủ bếp và chậu rửa nhà tắm cao cấp đã có mặt trên 100 năm tại Nhật Bản.</h6>
         </div>
         <!--footer-->
       </div>
<footer>
   <%- include("./partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
</body>
</html
