<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Cache-control" content="no-cache" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="Expires" content="-1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta property="og:type" content="website" />
      <meta property="og:image" content="https://takarastandard.vn/wp-content/themes/takarastandard/img/Lemure-01-slide-cover-product-detail.jpg" />
      <meta name=”robots” content=”noodp,index,follow” />
      <meta name="format-detection" content="telephone=no" />
      <meta name="google-site-verification" content="k1BdfB3ByJHMsalKRK1N_FATLG96vVsaBcepath2EB0" />
      <link rel="shortcut icon" type="image/png" href="https://takarastandard.vn/wp-content/themes/takarastandard/img/favicon.ico" />
      <link rel="stylesheet" type="text/css" href="https://takarastandard.vn/wp-content/themes/takarastandard/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="https://takarastandard.vn/wp-content/themes/takarastandard/fontawesome/css/all.css">
      <link rel="stylesheet" type="text/css" href="https://takarastandard.vn/wp-content/themes/takarastandard/css/reset.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
      <link rel="stylesheet" href="https://takarastandard.vn/wp-content/themes/takarastandard/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://takarastandard.vn/wp-content/themes/takarastandard/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="https://takarastandard.vn/wp-content/themes/takarastandard/css/style.css">
      <link rel="stylesheet" type="text/css" href="https://takarastandard.vn/wp-content/themes/takarastandard/css/responsive.css">
      <link rel="stylesheet" type="text/css" href="https://takarastandard.vn/wp-content/themes/takarastandard/css/animate.css">
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142464192-2"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());

       gtag('config', 'UA-142464192-2');
     </script>
     <!-- Google Tag Manager -->
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
     })(window,document,'script','dataLayer','GTM-MDTXCV5');</script>
     <!-- End Google Tag Manager -->
<meta name="description" content="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi.">
<meta name="keywords" content="Takara standard - Nội thất cao cấp Nhật Bản">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi." />
<meta property="og:description" content="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi." />
<title>Trang chủ | Takara standard - Nội thất cao cấp Nhật Bản</title>
<!--<script type="text/javascript">
var ajaxurl = "https://takarastandard.vn/wp-admin/admin-ajax.php";
</script>-->
</head>
<body> 
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
   window.fbAsyncInit = function() {
     FB.init({
       xfbml            : true,
       version          : 'v5.0'
     });
   };

   (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
   fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Your customer chat code -->
<div class="fb-customerchat"
   attribution=setup_tool
   page_id="214977865914846"
   logged_in_greeting="Xin chào! Takara standard có thể giúp gì cho bạn?"
   logged_out_greeting="Xin chào! Takara standard có thể giúp gì cho bạn?">
</div>
<div id="index">
<main class="main homepage">
<!-- header -->
<div class="container menu-header p-0">
   <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <a class="navbar-brand" href="/">
      <img src="images/logo-navbar.png" alt="Takara standard" class="img-fluid img-logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
         <ul class="navbar-nav ml-auto">
            <div class="close-nav"><i class="fal fa-times"></i></div>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle bd-r" href="/he-tu-bep">
               HỆ TỦ BẾP
               </a>
               <div class="icon-plus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-plus"></i>
               </div>
               <div class="icon-minus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-minus"></i>
               </div>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/lemure-series">LEMURE series</a>
                  <a class="dropdown-item" href="/emage-series">EMAGE series</a>
                  <a class="dropdown-item" href="/ritela-series">RITELA series</a>
                  <a class="dropdown-item" href="/edel-series">EDEL series</a>
                  <a class="dropdown-item" href="/phu-kien-tu-bep">Phụ kiện tủ bếp</a>
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="https://takarastandard.vn/he-tu-guong">
               HỆ TỦ GƯƠNG
               </a>
               <div class="icon-plus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-plus"></i>
               </div>
               <div class="icon-minus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-minus"></i>
               </div>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="https://takarastandard.vn/eleena-series">ELEENA series</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/famile-series">FAMILE series</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/ondine-series">ONDINE series</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/suria-series">SURIA series</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="https://takarastandard.vn/he-nha-tam">HỆ NHÀ TẮM</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="https://takarastandard.vn/tam-op-tuong">TẤM ỐP TƯỜNG</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="https://takarastandard.vn/cong-trinh">
               CÔNG TRÌNH
               </a>
               <div class="icon-plus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-plus"></i>
               </div>
               <div class="icon-minus" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fal fa-minus"></i>
               </div>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="https://takarastandard.vn/project-type/showroom">Showroom</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/project-type/du-an">Dự Án</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/project-type/nha-rieng ">Biệt thự / Nhà phố / Căn hộ</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/cong-trinh">All</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="https://takarastandard.vn/lien-he">LIÊN HỆ</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle cuoicung" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
                  <div class="icon-plus">
                     <i class="fal fa-plus"></i>
                  </div>
                  <div class="icon-minus">
                     <i class="fal fa-minus"></i>
                  </div>
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="https://takarastandard.vn/gioi-thieu">GIỚI THIỆU</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/dac-tinh">ĐẶC TÍNH SẢN PHẨM</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/quy-trinh">QUY TRÌNH SẢN XUẤT</a>
                  <a class="dropdown-item" href="https://takarastandard.vn/quy-trinh-dat-hang">QUY TRÌNH ĐẶT HÀNG</a>
                  <a class="dropdown-item" href="
                  https://takarastandard.vn/nippon-interia-va-hanh-trinh-khai-xuan-den-dat-nuoc-mat-troi-moc/                     ">TIN TỨC</a>
               </div>
            </li>
         </ul>
      </div>
   </nav>
</div>
<div class="container p-0">
   <!-- Banner -->
   <!-- SLIDES -->
   <div class="wraper wrapper-index">
      <div class="slides pc">
         <div class="owl-carousel owl-theme" id="banner">
                                          <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2020/03/Banner-website.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2020/02/Banner-homepage-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2020/02/banner-mới.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/12/IMG_3658-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-1.1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-7_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-2_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-3_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-4_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-6_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-5_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                        </div>
      </div>
      <div class="slides mobi">
         <div class="owl-carousel owl-theme" id="banner1">
                                          <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2020/03/Banner-website_mobi.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2020/02/Banner-homepage-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2020/02/banner-mới.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/12/IMG_3658-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/09/Ảnh-đại-diện-2.png" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/10/7-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/11/Banner-2_result.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/10/3-3.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/10/4-3.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/10/5-2.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/10/6-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                           <div class="item">
               <div id="product-" class="index-banner">
                  <div class="images" >
                     <img src="https://takarastandard.vn/wp-content/uploads/2019/10/8-1.jpg" alt="Takara standard - Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt, chống cháy nổ và dễ dàng lau chùi."/>
                  </div>
                  </a>
               </div>
            </div>
                        </div>
      </div>
   </div>
</div>
<div class="container pt-4">
   <div class="title-section wow bounceIn">
      <p>Các dòng <b>sản phẩm</b></p>
   </div>
   <!-- Content-->
   <div class="row w-901 justify-content-center">
      <div class="col-md-6 col-sm-12 col-12 mt-pr">
         <a href="https://takarastandard.vn/he-tu-bep">
            <div class="box-type">
               <div class="box-type-img">
                  <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/Hệ-tủ-bếp.png" alt="Kitchen" class="img-fluid" />
                  <div class="des-system">
                     <h6>
                        Enameled Kitchen
                     </h6>
                     <hr>
                     <h6><b>HỆ TỦ BẾP</b></h6>
                  </div>
               </div>
            </div>
         </a>
      </div>
      <div class="col-md-4 col-sm-12 col-12 mt-15">
         <a href="https://takarastandard.vn/he-tu-guong">
            <div class="box-type">
               <div class="box-type-img">
                  <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/294cce75c3f224ac7de3.jpg" alt="Washstand" class="img-fluid" />
                  <div class="des-system">
                     <h6>
                        Enameled Washstand
                     </h6>
                     <hr>
                     <h6><b>HỆ TỦ GƯƠNG</b></h6>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div>
   <div class="row w-901 pb-4 justify-content-center">
      <div class="col-md-4 col-sm-12 col-12 mt-pr">
         <a href="https://takarastandard.vn/he-nha-tam">
            <div class="box-type">
               <div class="box-type-img">
                  <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/8d854dbc403ba765fe2a.jpg" alt="Bathroom" class="img-fluid" />
                  <div class="des-system">
                     <h6>Enameled Bathroom</h6>
                     <hr>
                     <h6><b>HỆ NHÀ TẮM</b></h6>
                  </div>
               </div>
            </div>
         </a>
      </div>
      <div class="col-md-6 col-sm-12 col-12 mt-15">
         <a href="https://takarastandard.vn/tam-op-tuong">
            <div class="box-type">
               <div class="box-type-img">
                  <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/Tấm-ốp-tường.png" alt="Emawall" class="img-fluid" />
                  <div class="des-system">
                     <h6>Emawall</h6>
                     <hr>
                     <h6><b>TẤM ỐP TƯỜNG</b></h6>
                  </div>
               </div>
            </div>
         </a>
      </div>
   </div>
   <div data-wow-delay=".25s" class="title-section wow bounceIn">
      <p><b>Đặc tính</b> <span>SẢN PHẨM</p>
   </div>
   <div class="dac-tinh">
      <div class="dactinh-overplay wow fadeIn">
         <div class="border border-light">
            <h5><b>VỀ VẬT LIỆU THÉP TRÁNG MEN KÍNH</b></h5>
            <hr>
            <p>Sản phẩm của Takara Standard được làm từ vật liệu Thép tráng men kính,<br> sở hữu nhiều đặc tính nổi bật,<br> vượt trội hơn hẳn so với các<br /> sản phẩm tủ bếp thông thường</p>
            <a href="https://takarastandard.vn/dac-tinh"> Tìm hiểu thêm</a>
         </div>
      </div>
   </div>
   <div class="owl-carousel owl-theme mb-2" id="icon-dactinh">
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-1.png" alt="Dễ dàng vệ sinh">
         </div>
         <div class="text">
            <p>Dễ dàng vệ sinh</p>
         </div>
      </div>
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-7.png" alt="Chống cháy nổ">
         </div>
         <div class="text">
            <p>Chống cháy nổ</p>
         </div>
      </div>
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-3.png" alt="Không ẩm mốc, mối mọt">
         </div>
         <div class="text">
            <p>Không ẩm mốc, mối mọt</p>
         </div>
      </div>
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-4.png" alt="Không bám mùi">
         </div>
         <div class="text">
            <p>Không bám mùi</p>
         </div>
      </div>
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-5.png" alt="Hạn chế trầy xước">
         </div>
         <div class="text">
            <p>Hạn chế trầy xước</p>
         </div>
      </div>
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-6.png" alt="An toàn cho sức khỏe, thân thiện với môi trường">
         </div>
         <div class="text">
            <p>An toàn cho sức khỏe, <br>thân thiện với môi trường</p>
         </div>
      </div>
      <div class="item">
         <div class="images">
            <img src="https://takarastandard.vn/wp-content/themes/takarastandard/img/icon-2.png" alt="Thoải mái tùy chỉnh với phụ kiện hít nam châm">
         </div>
         <div class="text">
            <p>Thoải mái tùy chỉnh với <br>phụ kiện hít nam châm</p>
         </div>
      </div>
   </div>
   <div class="dsnone">
      <h1>Takara standard - Nội thất cao cấp Nhật Bản</h1>
      <h2>Takara standard - Nội thất cao cấp Nhật Bản</h2>
      <h2>Takara standard - Nội thất cao cấp Nhật Bản</h2>
      <h3>Takara standard - Nội thất cao cấp Nhật Bản</h3>
      <h3>Takara standard - Nội thất cao cấp Nhật Bản</h3>
      <h3>Takara standard - Nội thất cao cấp Nhật Bản</h3>
   </div>
   <!--footer-->
</div>
   <footer>
  <div class="diachi text-center">
    <p><b>SHOWROOM TAKARA STANDARD</b></p>
    <p><i class="fas fa-map-marker-alt"></i><span class="pc">Shophouse </span>47 Nguyễn Cơ Thạch (KĐT Sala), Q.2, TP.HCM</p>
  </div>
  <div class="row justify-content-center pt-2 pb-2">
    <div class="col-12 col-sm-12 col-md-3">
      <a href="tel:0985858813">
        <div class="row">
          <div class="col-2">
            <i class="fas fa-phone"></i>
          </div>
          <div class="col-10">
            <p><b>HOTLINE</b></p>
            <p>0985 858 813</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
      <a href="https://takarastandard.vn/lien-he">
        <div class="row">
          <div class="col-2">
            <i class="far fa-envelope"></i>
          </div>
          <div class="col-10">
            <p><b>EMAIL</b></p>
            <p>takarastandard@npi.vn</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-sm-12 col-md-3">
      <a id="facebookchat">
        <div class="row">
          <div class="col-2">
            <i class="fas fa-user"></i>
          </div>
          <div class="col-10">
            <p><b>HỖ TRỢ TRỰC TUYẾN</b></p>
            <p>Nhấn để liên hệ</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="iconfooter text-center pt-3 pb-3">
    <ul class="list-social">
       <li><a href="https://www.facebook.com/takarastandard.vn"><i class="fab fa-facebook-square"></i></a></li>
       <li><a href="https://www.youtube.com/channel/UC3rZMI9Okc3XS8gvRqVN1vA"><i class="fab fa-youtube"></i></a></li>
       <li><a href="https://www.instagram.com/takarastandard.vn/"><i class="fab fa-instagram"></i></a></li>
       <li><a href="https://twitter.com/takaravietnam"><i class="fab fa-twitter"></i></a></li>
       <li><a href="https://www.linkedin.com/company/nippon-interia/"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
    <p class="mt-2" id="copyrighter">© 2018 Nippon Interia Company Ltd.</p>
    <div class="scroll-to-top">
       <i class="fal fa-angle-up"></i>
    </div>
  </div>
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/js/jquery-3.2.1.min.js"></script>
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/js/bootstrap.min.js"></script>
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/js/jquery-easing/jquery.easing.min.js"></script>
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/owlcarousel/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
<script type="text/javascript" src="https://takarastandard.vn/wp-content/themes/takarastandard/js/navbar-mobile.js"></script>
<script>
   $('#slider-comment').owlCarousel({loop:true,margin:10,nav:true,responsive:{0:{items:1},600:{items:3}}});$('#slider-huongdan1').owlCarousel({loop:true,margin:10,nav:true,responsive:{0:{items:1},600:{items:3}}});$('#banner').owlCarousel({loop:true,margin:10,nav:true,items:1,dots:true,autoplay:true,autoPlaySpeed:8000,autoplayTimeout:8000,autoplayHoverPause:false,animateOut:'fadeOut',animateIn:'fadeIn'});$('#banner1').owlCarousel({loop:true,margin:10,nav:true,items:1,dots:true,autoplay:true,autoPlaySpeed:8000,autoplayTimeout:8000,autoplayHoverPause:false,animateOut:'fadeOut',animateIn:'fadeIn'});$('#icon-dactinh').owlCarousel({loop:false,margin:0,nav:true,responsive:{0:{items:3},600:{items:3},1000:{items:5},1100:{items:7}}});$('.testimonials').owlCarousel({rtl:false,loop:true,margin:10,nav:true,dots:false,responsive:{0:{items:1},600:{items:1},1000:{items:1}}});
</script>
</body>
</html>
