<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("./partials/head") -%> 
   <meta name="description" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe">
   <meta name="keywords" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="og:title" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe" />
   <meta property="og:description" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe" />
   <title>Phụ Kiện Tủ Bếp Cao Cấp Chính Hãng, Nhập Khẩu Nhật Bản</title>
   <style media="screen">
     .name-product{color: rgba(0, 0, 0, 0.48);margin-top: 0.5rem}
     .des-product{text-align: center}
   </style>
</head>
<body>
   <main class="main list">
      <!-- header -->
      <%- include("./partials/header") -%> 
      <!--------------------------------------------->
      <div class="row">
         <div class="wraper wrapper-index">
            <div class="slides">
               <div class="owl-carousel owl-theme" id="slider-edel">
                 <div class="item">
                   <img src="images/phu-kien-tu-bep/85a39e99d162363c6f73.jpg" alt="Phụ kiện tủ bếp">
                 </div>
               </div>
            </div>
         </div>
      </div>
      <!-- CONTENT LIST -->
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
         <div class="col-lg-2 col-md-12 col-12">
            <div class="logo-product"><img src="images/phu-kien-tu-bep/phu-kien.png" alt="Logo Phụ Kiện"></div>
         </div>
      </div>
      <div class="container mb-4 pb-2">
         <div class="row mb-4">
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Phu-kien-10-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">Giá treo khăn (cỡ lớn)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Phu-kien-9-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ TREO KHĂN (CỠ NHỎ)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Gia-de-gia-vi-size-S-ket-hop-moc-treo-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ ĐỂ HỘP GIA VỊ KẾT HỢP MÓC TREO ĐỒ (CỠ NHỎ)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Gia-de-gia-vi-ket-hop-moc-treo-co-L-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ ĐỂ HỘP GIA VỊ KẾT HỢP MÓC TREO ĐỒ (CỠ LỚN)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Hop-de-do-dinh-tuong-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">HỘP ĐỂ ĐỒ DÍNH TƯỜNG</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Gia-de-gia-vi-size-L-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ ĐỂ HỘP GIA VỊ (CỠ LỚN)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Gia-de-gia-vi-size-M-BW-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ ĐỂ HỘP GIA VỊ (CỠ VỪA)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Gia-de-gia-vi-size-s-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ ĐỂ HỘP GIA VỊ (CỠ NHỎ)</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Cay-treo-khan-lau-tay-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">CÂY TREO KHĂN LAU TAY</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Thanh-giu-giay-cuon-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">THANH GIỮ GIẤY CUỘN LÀM BẾP</h4>
            </div>
                           <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt-4">
               <div class="box-product">
                     <div class="img-product">
                        <img src="images/phu-kien-tu-bep/Gia-giu-do-da-nang-W-portfolio-image-960x750.jpg">
                     </div>
                     
               </div>
               <h4 class="name-product">GIÁ GIỮ ĐỒ ĐA NĂNG</h4>
            </div>
                        </div>
       </div>
<!--footer-->
<footer>
<%- include("./partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/script.js"></script>
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
   <script type="text/javascript">
      $('#slider-edel').owlCarousel({loop: true,margin:10,nav:true,items:1,dots:true,autoplay:true,autoPlaySpeed:8000,autoplayTimeout:8000,autoplayHoverPause:false,animateOut: 'fadeOut'});
   </script>
</body>
</html
