<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("./partials/head") -%> 
 <meta name="description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt">
 <meta name="keywords" content="Nội thất cao cấp">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta property="og:title" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
 <meta property="og:description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
 <title>Quy Trình Đặt Hàng | Takara standard</title>
 <style type="text/css">
     .slides ul li:after {display: none;}.wraper .owl-dots{display: flex;position: absolute;bottom: 0px;left: 50%;transform: translateX(-50%);}.wraper .owl-theme .owl-dots .owl-dot{display: block!important;background: #fff;border-radius: 50%;height: 24px;opacity: 0.3;margin: 8px 5px;}.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background: rgba(177,177,177,1);}.wraper .owl-theme .owl-dots .owl-dot span{width: 14px;height: 14px;margin: 5px 5px;}.wraper .owl-theme .owl-dots .owl-dot.active{opacity: 1}#slider-huongdan,#slider-comment, .w-90{width: 95%;margin: auto}.w-901{background: #fff;padding: 0 8%;}#slider-huongdan1 .active:first-child .box-step{border: 3px solid #0766b2 !important}@media (min-width: 1200px){.container {max-width: 100%;box-shadow: 1px -13px 10px #00000014;box-shadow: 1px -13px 10px rgba(0,0,0,0.08);}}
 </style>
</head>

<body>
 <main class="main homepage list">
     <!-- header -->
     <%- include("./partials/header") -%> 
     <div class="row">
        <div class="wraper">
           <div class="slides">
              <div class="owl-carousel owl-theme" id="slider-optuong">
                <div class="item">
                  <img src="images/quy-trinh-dat-hang/c1d4e10919a6fef8a7b7.jpg" alt="Quy trình đặt hàng">
                </div>
              </div>
           </div>
        </div>
     </div>
     <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
             <div class="col-lg-2 col-md-12 col-12">
                <div class="logo-product"><img src="images/quy-trinh-dat-hang/dat-hang-logo.png" alt="Logo Công Trình"></div>
             </div>
     </div>
     <div class="container mb-4">
         <div class="row pc">
                                           <div class="mt-4 pd-2b col-lg-6 col-xl-4">
                 <div class="box-step">
                     <div class="stt">BƯỚC 1</div>
                     <h1>Báo giá sơ bộ</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Khách hàng vui lòng gửi kích thước bếp và ngân sách dự kiến (nếu có) để chúng tôi tư vấn dòng sản phẩm phù hợp và báo giá sơ bộ cho quý khách.</p>
                 </div>
               </div>
                               <div class="mt-4 pd-2b col-lg-6 col-xl-4">
                 <div class="box-step">
                     <div class="stt">BƯỚC 2</div>
                     <h1>Lên phương án thực tế</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Các chuyên viên của Takara standard sẽ thiết kế phương án để báo giá chính xác dựa trên bản vẽ nhà hoặc kích thước thực tế của Quý khách.</p>
                 </div>
               </div>
                               <div class="mt-4 pd-2b col-lg-6 col-xl-4">
                 <div class="box-step">
                     <div class="stt">BƯỚC 3</div>
                     <h1>Khảo sát & duyệt phương án</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Sau khi Quý khách duyệt phương án tủ bếp và ký hợp đồng, nhân viên kỹ thuật của Takara standard sẽ đến khảo sát mặt bằng để đảm bảo về kĩ thuật lắp đặt.</p>
                 </div>
               </div>
                               <div class="mt-4 pd-2b col-lg-6 col-xl-4">
                 <div class="box-step">
                     <div class="stt">BƯỚC 4</div>
                     <h1>Thanh toán & tiến hành đặt hàng</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Sản phẩm của Takara standard được sản xuất hoàn toàn tại Nhật và chuyển về Việt Nam sau <b>60 đến 90 ngày</b>, tính từ sau khi Quý khách đặt cọc tiền đợt 1 theo hợp đồng.</p>
                 </div>
               </div>
                               <div class="mt-4 pd-2b col-lg-6 col-xl-4">
                 <div class="box-step">
                     <div class="stt">BƯỚC 5</div>
                     <h1>Giao hàng & lắp đặt</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Kể từ ngày có thông báo hàng về và mặt bằng đã đủ điều kiện, Quý khách thanh toán tiền đợt 2 theo hợp đồng, Takara standard sẽ giao hàng và tiến hành lắp đặt theo lịch hẹn.</p>
                 </div>
               </div>
                               <div class="mt-4 pd-2b col-lg-6 col-xl-4">
                 <div class="box-step">
                     <div class="stt">BƯỚC 6</div>
                     <h1>Nghiệm thu & bảo hành</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Sau khi lắp đặt, tiến hành nghiệm thu chất lượng và ký xác nhận. Các sản phẩm của Takara standard được bảo hành 10 năm, các ray trượt được bảo hành trọn đời</p>
                 </div>
               </div>
                         </div>
         <div class="owl-carousel owl-theme w-90 mobi" id="slider-huongdan1">
                                         <div class="item">
               <div class="mt-4 pd-2b">
                 <div class="box-step">
                     <div class="stt">BƯỚC 1</div>
                     <h1>Báo giá sơ bộ</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Khách hàng vui lòng gửi kích thước bếp và ngân sách dự kiến (nếu có) để chúng tôi tư vấn dòng sản phẩm phù hợp và báo giá sơ bộ cho quý khách.</p>
                 </div>
               </div>
             </div>
                             <div class="item">
               <div class="mt-4 pd-2b">
                 <div class="box-step">
                     <div class="stt">BƯỚC 2</div>
                     <h1>Lên phương án thực tế</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Các chuyên viên của Takara standard sẽ thiết kế phương án để báo giá chính xác dựa trên bản vẽ nhà hoặc kích thước thực tế của Quý khách.</p>
                 </div>
               </div>
             </div>
                             <div class="item">
               <div class="mt-4 pd-2b">
                 <div class="box-step">
                     <div class="stt">BƯỚC 3</div>
                     <h1>Khảo sát & duyệt phương án</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Sau khi Quý khách duyệt phương án tủ bếp và ký hợp đồng, nhân viên kỹ thuật của Takara standard sẽ đến khảo sát mặt bằng để đảm bảo về kĩ thuật lắp đặt.</p>
                 </div>
               </div>
             </div>
                             <div class="item">
               <div class="mt-4 pd-2b">
                 <div class="box-step">
                     <div class="stt">BƯỚC 4</div>
                     <h1>Thanh toán & tiến hành đặt hàng</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Sản phẩm của Takara standard được sản xuất hoàn toàn tại Nhật và chuyển về Việt Nam sau <b>60 đến 90 ngày</b>, tính từ sau khi Quý khách đặt cọc tiền đợt 1 theo hợp đồng.</p>
                 </div>
               </div>
             </div>
                             <div class="item">
               <div class="mt-4 pd-2b">
                 <div class="box-step">
                     <div class="stt">BƯỚC 5</div>
                     <h1>Giao hàng & lắp đặt</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Kể từ ngày có thông báo hàng về và mặt bằng đã đủ điều kiện, Quý khách thanh toán tiền đợt 2 theo hợp đồng, Takara standard sẽ giao hàng và tiến hành lắp đặt theo lịch hẹn.</p>
                 </div>
               </div>
             </div>
                             <div class="item">
               <div class="mt-4 pd-2b">
                 <div class="box-step">
                     <div class="stt">BƯỚC 6</div>
                     <h1>Nghiệm thu & bảo hành</h1>
                     <hr style="border-top: 1px solid rgb(210, 238, 244);">
                     <p>Sau khi lắp đặt, tiến hành nghiệm thu chất lượng và ký xác nhận. Các sản phẩm của Takara standard được bảo hành 10 năm, các ray trượt được bảo hành trọn đời</p>
                 </div>
               </div>
             </div>
                         </div>
     </div>
         <!--footer-->
<footer>
    <%- include("./partials/footer") -%>
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/js/jquery-3.2.1.min.js"></script>
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/js/bootstrap.min.js"></script>
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/js/jquery-easing/jquery.easing.min.js"></script>
<script src="https://takarastandard.vn/wp-content/themes/takarastandard/owlcarousel/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
 <script type="text/javascript" src="https://takarastandard.vn/wp-content/themes/takarastandard/js/script-home.js"></script>
 <script type="text/javascript" src="https://takarastandard.vn/wp-content/themes/takarastandard/js/navbar-mobile.js"></script>
 <script type="text/javascript">
     $('#slider-huongdan1').owlCarousel({loop:true,margin:10,dots:true,nav:false,autoplay:true,autoPlaySpeed:8000,autoplayTimeout:8000,autoplayHoverPause:false,animateOut:'fadeOut',animateIn:'fadeIn',responsive:{0:{items:1},600:{items:3}}});
     $('#slider-optuong').owlCarousel({loop:true,margin:10,nav:true,dots:false,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
 </script>
</body>

</html>
