<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("./partials/head") -%> 
     <!-- End Google Tag Manager -->
   <meta property="og:image" content="images/suria-series/064bc1b0b4fe53a00aef.jpg" />
   <meta name="description" content="SURIA - Dòng Washstand bằng Thép tráng men kính cơ bản, giá cả hấp dẫn">
   <meta name="keywords" content="SURIA - Dòng Washstand bằng Thép tráng men kính cơ bản, giá cả hấp dẫn">
   <meta property="og:title" content="SURIA - Dòng Washstand bằng Thép tráng men kính cơ bản, giá cả hấp dẫn" />
   <meta property="og:description" content="SURIA - Dòng Washstand bằng Thép tráng men kính cơ bản, giá cả hấp dẫn" />
   <title>SURIA series | Takara standard</title>
   <style type="text/css">
      .slides ul li:after {display: none;}.size .owl-item .item {width: 50px;margin: auto;}.wraper{height: inherit !important}.title-section::after{display: none}
      @media only screen and (max-width: 576px){
        .img-content img{width: 90%; object-fit: contain;}
        .img-content{text-align: center;}
      }
   </style>
   
</head>
<body>
   <main class="main list washstand">
      <!-- header -->
      <%- include("./partials/header") -%> 

      <!--------------------------------------------->
      <!-- CONTENT PRODCUT -->
      <!-- SLIDES -->
      <div class="row pc">
         <div class="wraper">
            <div class="slides">
               <div class="owl-carousel owl-theme" id="slider-suria">
                                                         <div class="item">
                   <img src="images/suria-series/suria.jpg" alt="Mẫu sản phẩm Suria">
                 </div>
                                   </div>
            </div>
         </div>
      </div>
      <div class="row mobi">
         <div class="wraper">
            <div class="slides">
               <div class="owl-carousel owl-theme" id="slider-suria1">
                                                         <div class="item">
                   <img src="images/suria-series/Suria-a-đã-nén.jpg" alt="Mẫu sản phẩm Suria">
                 </div>
                                     <div class="item">
                   <img src="images/suria-series/Suria-b-đã-nén.jpg" alt="Mẫu sản phẩm Suria">
                 </div>
                                   </div>
            </div>
         </div>
      </div>
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
         <div class="col-lg-2 col-md-12 col-12">
            <div class="logo-product"><img src="images/suria-series/Suria-Logo.png" alt="Suria Logo"></div>
         </div>
      </div>
      <div class="container mb-4">
         <!-- CONTENT -->
         <div data-wow-duration="1s" class="title-section washstand-title wow fadeIn">
            <h3>LỰA CHỌN KÍCH CỠ VÀ MÀU SẮC</h3><p>Khách hàng có thể tùy chọn kích thước và màu sắc sản phẩm phù hợp với sở thích và cá tính của mình. </p><p>Một Washstand tiệp màu với Hệ tủ bếp sẽ tạo phong cách riêng cho ngôi nhà thân yêu của bạn<span class="redactor-invisible-space" style="background-color: initial;">!</span></p>            </div>
         <div data-wow-duration="1s" class="row wow fadeIn mt-4" style="background-color: whitesmoke">
            <div class="col-md-12 zxc">
               <div class="row">
                  <div class="col-md-6 col-12 qwe">
                     <h4>màu sắc (5 lựa chọn)</h4>
                     </p>
                     <div class="wrapper2">
                        <div class="slides2">
                           <ul>
                              <li id="color-1">
                                 <img src="images/suria-series/Suria-cb-picture.png" alt="Màu sản phẩm Suria">
                              </li>
                              <li class="hienra" id="color-2">
                                 <img src="images/suria-series/Suria-cm-picture.png" alt="Màu sản phẩm Suria">
                              </li>
                              <li id="color-3">
                                 <img src="images/suria-series/Suria-cp-picture.png" alt="Màu sản phẩm Suria">
                              </li>
                              <li id="color-4">
                                 <img src="images/suria-series/Suria-cv-picture.png" alt="Màu sản phẩm Suria">
                              </li>
                              <li id="color-5">
                                 <img src="images/suria-series/Suria-cw-picture.png" alt="Màu sản phẩm Suria">
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="owl-carousel owl-theme mt-4 color-click carousel-auto" id="color-product">
                        <div class="item" data-color="color-1"><img src="images/suria-series/Suria-cb-picture.png" alt="Màu sản phẩm Suria"></div>
                        <div class="item" data-color="color-2"><img src="images/suria-series/Suria-cm-picture.png" alt="Màu sản phẩm Suria"></div>
                        <div class="item" data-color="color-3"><img src="images/suria-series/Suria-cp-picture.png" alt="Màu sản phẩm Suria"></div>
                        <div class="item" data-color="color-4"><img src="images/suria-series/Suria-cv-picture.png" alt="Màu sản phẩm Suria"></div>
                        <div class="item" data-color="color-5"><img src="images/suria-series/Suria-cw-picture.png" alt="Màu sản phẩm Suria"></div>
                     </div>
                  </div>
                  <div class="col-md-6 col-12 qwe">
                     <h4>KÍCH CỠ</h4>
                     <div class="img-content">
                        <img src="images/suria-series/Suria-Kich-co-1.png" alt="Kích cỡ sản phẩm Suria" class="img-fluid" style="width: 90%;margin: auto;">
                     </div>
                  </div>
               </div>
            </div>
         </div>
       </div>
         <!--footer-->
<footer>
    <%- include("./partials/footer") -%> 

</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/script-home.js"></script>
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
   <script type="text/javascript">
      $('html').on('click','.change-click .item',function(){var change=$(this).attr('data-change');$('html').find('.list-3 li').removeClass('show-img');$('html').find('.list-3 li#'+change).addClass('show-img')});$('html').on('click','.color-click .item',function(){var color=$(this).attr('data-color');$('html').find('.slides2 ul li').removeClass('hienra');$('html').find('.slides2 ul li#'+color).addClass('hienra')});document.addEventListener("DOMContentLoaded",function(){auto2();var slides2=document.querySelectorAll('div.slides2 ul li')
      var cuoicung2=slides2.length-1;function auto2(){var thoigian2=setInterval(function(){var vitrislideht=0;var slideht2=document.querySelector('ul li.hienra');for(var i=0;slideht2=slideht2.previousElementSibling;vitrislideht++){}
      for(var i=0;i<slides2.length;i++){slides2[i].classList.remove('hienra')}
      if(vitrislideht==cuoicung2){vitrislideht=-1}
      slides2[vitrislideht+1].classList.add('hienra')},3000)
      var stop=document.querySelectorAll('.color-click .item');for(var i=0;i<stop.length;i++){stop[i].addEventListener('click',function(){clearInterval(thoigian2)})}}},!1)
   </script>
   <script>
      $('#color-product').owlCarousel({loop:true,margin:2,nav:true,responsive:{0:{items:5},600:{items:5},1000:{items:5}}});
      $('#slider-suria').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
      $('#slider-suria1').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
   </script>
</body>
</html
