<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("./partials/head") -%> 
   <meta name="description" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe">
   <meta name="keywords" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe">
   <meta property="og:title" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe" />
   <meta property="og:description" content="Tủ bếp tráng men kính cao cấp Nhật Bản - Chống cháy - Chống nước - Chống va đập, trầy xước - An toàn cho sức khỏe" />
   <title>Emawall | Takara standard</title>
   <style type="text/css">
      .title-section h2{font-size: 26px;}.slides ul li:after {display: none;}@media only screen and (max-width:576px){.title-section h2 {font-size: 18px !important;}}
   </style>
</head>
<body>
   <main class="main list">
      <!-- header -->
      <%- include("./partials/header") -%> 
      <!--------------------------------------------->
      <div class="row">
         <div class="wraper">
            <div class="slides">
               <div class="owl-carousel owl-theme" id="slider-optuong">
                 <div class="item">
                   <img src="images/tam-op-tuong/Tam-op-tuong-1.jpg" alt="Mẫu tấm ốp tường">
                 </div>
               </div>
            </div>
         </div>
      </div>
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
              <div class="col-lg-2 col-md-12 col-12">
                 <div class="logo-product"><img src="images/tam-op-tuong/TAM-OP-TUONG-LOGO.png" alt="Logo Bathroom"></div>
              </div>
      </div>
      <div data-wow-duration="1s" class="container mb-4 wow fadeIn pb-4">
         <div class="title-section">
            <h2>CHO CON THỎA SỨC SÁNG TẠO</h2>
         </div>
         <div class="row mt-2">
            <div class="col-md-4 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_point_p02-1.jpg" class="img-fluid" alt="Từ câu chuyện của những nhân vật đồ chơi">
                  <p>Từ câu chuyện của những nhân vật đồ chơi.</p>
               </div>
            </div>
            <div class="col-md-4 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_point_p01-1.jpg" class="img-fluid" alt="Đến những bức tranh từ suy nghĩ của con trẻ, dễ dàng tẩy rửa chỉ bằng khăn ướt">
                  <p>Đến những bức tranh từ suy nghĩ của con trẻ, dễ dàng tẩy rửa chỉ bằng khăn ướt.</p>
               </div>
            </div>
            <div class="col-md-4 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_point_p04.jpg" class="img-fluid" alt="Con sẽ hào hứng hơn khi chơi cùng những đồ chơi có gắn nam châm">
                  <p>Con sẽ hào hứng hơn khi chơi cùng những đồ chơi có gắn nam châm.</p>
               </div>
            </div>
         </div>
         <div class="title-section mt-4">
            <h2>THOẢI MÁI TÙY CHỈNH BẰNG PHỤ KIỆN HÚT NAM CHÂM</h2>
         </div>
         <div class="row mt-2">
            <div class="col-md-4 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_point_p05.jpg" class="img-fluid" alt="Ghi nhớ công việc cần làm">
                  <p>Ghi nhớ công việc cần làm.</p>
               </div>
            </div>
            <div class="col-md-4 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_point_p06.jpg" class="img-fluid" alt="Bố trí không gian để đồ phòng khách mà không cần khoan tường">
                  <p>Bố trí không gian để đồ phòng khách mà không cần khoan tường.</p>
               </div>
            </div>
            <div class="col-md-4 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_point_p03.jpg" class="img-fluid" alt="Sử dụng như mắc treo đồ trong nhà tắm">
                  <p>Sử dụng như mắc treo đồ trong nhà tắm.</p>
               </div>
            </div>
         </div>
         <div class="title-section mt-4">
            <h2>SỬ DỤNG ĐƯỢC TRONG MỌI KHÔNG GIAN</h2>
         </div>
         <div class="row mt-2">
            <div class="col-md-6 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_sec01_p01.jpg" class="img-fluid" alt="Từ lối vào nhà">
                  <p>Từ lối vào nhà.</p>
               </div>
            </div>
            <div class="col-md-6 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_sec01_p02.jpg" class="img-fluid" alt="Đến không gian phòng khách">
                  <p>Đến không gian phòng khách.</p>
               </div>
            </div>
            <div class="col-md-6 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_sec01_p03.jpg" class="img-fluid" alt="Từ phòng chơi của con">
                  <p>Từ phòng chơi của con.</p>
               </div>
            </div>
            <div class="col-md-6 mt-4">
               <div class="box-op">
                  <img src="images/tam-op-tuong/index_sec01_p05.jpg" class="img-fluid" alt="Đến phòng làm việc của cha mẹ">
                  <p>Đến phòng làm việc của cha mẹ.</p>
               </div>
            </div>
         </div>
       </div>
         <!--footer-->
<footer>
    <%- include("./partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
   <script type="text/javascript">
      $('#slider-optuong').owlCarousel({loop:true,margin:10,nav:true,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
   </script>
</body>
</html
