<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
      <%- include("../partials/head") -%> 
      <meta name="description" content="LEMURE- Sản phẩm đẳng cấp, lựa chọn đa dạng, thiết kế tinh tế đến từng chi tiết">
      <meta name="keywords" content="LEMURE- Sản phẩm đẳng cấp, lựa chọn đa dạng, thiết kế tinh tế đến từng chi tiết">
      <meta property="og:title" content="LEMURE- Sản phẩm đẳng cấp, lựa chọn đa dạng, thiết kế tinh tế đến từng chi tiết" />
      <meta property="og:description" content="LEMURE- Sản phẩm đẳng cấp, lựa chọn đa dạng, thiết kế tinh tế đến từng chi tiết" />
      <title>LEMURE series | Takara standard</title>
      <style media="screen">
        .row ul li{color: #747474;line-height: 1.5;text-align: justify;font-weight: bold;padding-left: 20px;}
        .col-lg-4.col-md-12.col-12.mt-4 img{width: 100%}
      </style>
</head>
<body>
   <main class="main list">
      <!-- header -->
      <%- include("../partials/header") -%> 
      <!--------------------------------------------->
      <!-- CONTENT PRODCUT -->
       <!-- SLIDES -->
       <div class="row">
          <div class="wraper wrapper-index">
             <div class="slides">
                <div class="owl-carousel owl-theme" id="slider-lemure">
                                                              <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-1_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-2_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-9_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-6_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-4_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-11_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-3_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-5_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-8_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                        <div class="item">
                      <img src="images/he-tu-bep/lemure-series/lemure-10_result.jpg" alt="Mẫu sản phẩm Lemure">
                    </div>
                                    </div>
             </div>
          </div>
       </div>
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
          <div class="col-lg-2 col-md-12 col-12">
             <div class="logo-product"><img src="images/he-tu-bep/lemure-series/Lemure-logo-300x48.png" alt="Logo Lemure"></div>
          </div>
      </div>
      <div class="container mb-4">
         <!-- CONTENT -->
         <!-- <div class="row bg-gray"></div> -->
         <div class="row">
            <div class="col-lg-4 col-md-12 col-12 mt-4">
               <div class="wrap-product">
                 <h3>LỰA CHỌN THIẾT KẾ</h3><p>Tùy thuộc vào mặt bằng bố trí thi công và diện tích gia chủ dự kiến dành cho khu bếp, Takara standard hiện có các lựa chọn thiết kế tủ bếp sau:<br></p>
                 <ul><li>Tủ bếp chữ I</li><li>Tủ bếp chữ L</li><li>Tủ bếp có bàn đảo<span class="redactor-invisible-space"></span>
                  </li></ul><p>Các loại tủ bếp trên có thể kết hợp thêm quầy bar hoặc tủ lưu trữ để tăng thêm vẻ đẹp, sự sang trọng cũng như tối ưu hóa nhu cầu sử dụng của gia đình.</p>
                  <h3>LỰA CHỌN MÀU SẮC</h3>
                  <p>Cũng giống như các sản phẩm khác của Takara standard, Tủ bếp LEMURE mang đầy đủ các đặc trưng của vật liệu <a href="/dac-tinh-san-pham">Thép tráng men kính.</a></p><p><a href="/dac-tinh-san-pham"></a>Đặc biệt, với dòng sản phẩm LEMURE, công đoạn tráng men kính được lặp đi lặp lại tới 3 lần, giúp cho các đường vân vô cùng sắc nét, chân thực; bề mặt sản phẩm sáng bóng, sang trọng hơn so với các dòng sản phẩm tiêu chuẩn.</p><p>Dòng LEMURE hiện có tới 16 lựa chọn về màu sắc như dưới đây:</p>
                  <span class="redactor-invisible-space"></span>                     
                  <div class="wrapper2">
                     <div class="slides2">
                        <ul>
                           <li id="color-1">
                              <img src="images/he-tu-bep/lemure-series/lun_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li class="hienra" id="color-2">
                              <img src="images/he-tu-bep/lemure-series/lgb_imgae.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-3">
                              <img src="images/he-tu-bep/lemure-series/lgu_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-4">
                              <img src="images/he-tu-bep/lemure-series/lcv_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-5">
                              <img src="images/he-tu-bep/lemure-series/lct_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-6">
                              <img src="images/he-tu-bep/lemure-series/lhi_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-7">
                              <img src="images/he-tu-bep/lemure-series/lpk_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-8">
                              <img src="images/he-tu-bep/lemure-series/lrb_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-9">
                              <img src="images/he-tu-bep/lemure-series/lrp_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-10">
                              <img src="images/he-tu-bep/lemure-series/lrr_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-11">
                              <img src="images/he-tu-bep/lemure-series/lxb_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                           <li id="color-12">
                              <img src="images/he-tu-bep/lemure-series/lxw_image.jpg" alt="Màu sản phẩm Lemure">
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="owl-carousel owl-theme mt-4 color-click carousel-auto" id="color-product">
                     <div class="item" data-color="color-1"><img src="images/he-tu-bep/lemure-series/lun_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-2"><img src="images/he-tu-bep/lemure-series/lxb_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-3"><img src="images/he-tu-bep/lemure-series/lgu_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-4"><img src="images/he-tu-bep/lemure-series/lcv_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-5"><img src="images/he-tu-bep/lemure-series/lct_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-6"><img src="images/he-tu-bep/lemure-series/lhi_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-7"><img src="images/he-tu-bep/lemure-series/lpk_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-8"><img src="images/he-tu-bep/lemure-series/lrb_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-9"><img src="images/he-tu-bep/lemure-series/lrp_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-10"><img src="images/he-tu-bep/lemure-series/lrr_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-11"><img src="images/he-tu-bep/lemure-series/lxb_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                     <div class="item" data-color="color-12"><img src="images/he-tu-bep/lemure-series/lxw_thumb-1.jpg" alt="Màu sản phẩm Lemure"></div>
                  </div>
                                    </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mt-4">
               <div class="wrap-product">
                  <h3>LỰA CHỌN MẶT BÀN BẾP</h3><p>Có 15 lựa chọn về mặt bàn bếp chia làm 4 nhóm chính: Đá thạch anh nhân tạo cao cấp - Thép không gỉ - Đá cẩm thạch nhân tạo cao cấp - Đá cẩm thạch nhân tạo.</p><p>Đối với lựa chọn mặt bàn bếp bằng Thép không gỉ, chậu rửa sẽ được hàn liền khối với mặt bàn bếp. Do đó, trong quá trình sử dụng, nước không bị rò rỉ xuống khu vực khoang tủ.</p><p><img src="images/he-tu-bep/lemure-series/Lemure-Lua-chon-mat-bep-1.png" alt="Lựa chọn mặt bếp Lemure"></p>                  </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mt-4">
               <div class="wrap-product">
                  <h3>LỰA CHỌN KIỂU TAY NẮM</h3><p>Dòng LEMURE có 3 lựa chọn về tay nắm cánh tủ đó là: Tay nắm âm - Tay nắm dương Inox - Tay nắm dương Thép tráng men kính</p>                     <ul class="list-3">
                     <li class="show-img" id="change-1">
                        <img src="images/he-tu-bep/lemure-series/Tay-nam-duong-thep-khong-gi.jpg" alt="Tay nắm dương thép không gỉ">
                     </li>
                     <li id="change-2">
                        <img src="images/he-tu-bep/lemure-series/Tay-nam-duong-trang-men-1.jpg" alt="Tay nắm dương tráng men">
                     </li>
                     <li id="change-3">
                        <img src="images/he-tu-bep/lemure-series/Tay-nam-am-1.jpg" alt="Tay nắm âm">
                     </li>
                  </ul>
                  <ul class="mt-2 change-click mb-4">
                     <li class="item" data-change="change-1">
                        <img src="images/he-tu-bep/lemure-series/Tay-nam-duong-thep-khong-gi.jpg" alt="Tay nắm dương thépp không gỉ">
                        <div class="des-change">
                           Tay Nắm Dương INOX
                        </div>
                     </li>
                     <li class="item" data-change="change-2">
                        <img src="images/he-tu-bep/lemure-series/Tay-nam-duong-trang-men-1.jpg" alt="Tay nắm dương tráng men">
                        <div class="des-change">
                           Tay Nắm Âm
                        </div>
                     </li>
                     <li class="item" data-change="change-3">
                        <img src="images/he-tu-bep/lemure-series/Tay-nam-am-1.jpg" alt="Tay nắm âm">
                        <div class="des-change">
                           Tay Nắm Dương Thép Tráng Men
                        </div>
                     </li>
                  </ul>
                  <h3>LỰA CHỌN CÁC MODULE BẾP VÀ LOẠI CHẬU RỬA...</h3><p>Với rất nhiều lựa chọn về module tủ bếp như: Kệ để chén đĩa chạy điện, Tủ đựng gạo, Ngăn đựng gia vị, Tủ góc cho bếp chữ L,… khách hàng có thể tùy chọn các module theo sở thích và công năng sử dụng, hoặc cùng các chuyên gia Takara standard kiến tạo nên căn bếp mang phong cách cá nhân.</p><p>Chậu rửa với thiết kế đặc biệt - khoang chậu lớn - giúp công việc làm bếp thêm thoải mái và thuận tiện. Có nhiều kiểu dáng chậu rửa đặc biệt cho dòng sản phẩm LEMURE: Chậu rửa 3 tầng (Utility Sink E - Hình dưới); Chậu rửa 2 tầng (Ultility Sink); Chậu rửa đá nhân tạo liền khối với mặt bếp, các loại chậu căn bản (Z Sink, ZM Sink, Y Sink, S Sink)...</p>
                  <p><img src="images/he-tu-bep/lemure-series/Lemure-Chau-rua.jpg" alt="Lemure chậu rửa"><br></p>                     <div class="img-content">
               </div>
            </div>
         </div>
       </div>
         <!--footer-->
<footer>
<%- include("../partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/script.js"></script>
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
   <script>
      $(function(){$('form').on('submit',function(e){e.preventDefault();$.ajax({type:'post',url:ajaxurl,data:"action=contactform&"+$('form').serialize(),success:function(data){bootbox.alert(data.message,function(){$("#form_contact #name").val("");$("#form_contact #phone").val("");$("#form_contact #title").val("");$("#form_contact textarea").val("");});}});$("#myModal").fadeOut(500);$("#form_contact").fadeOut(500);$(".modal-backdrop").fadeOut(500)});});$('#color-product').owlCarousel({loop:true,margin:2,nav:true,responsive:{0:{items:5},600:{items:5},1000:{items:5}}});$('#slider-lemure').owlCarousel({loop: true,margin:10,nav:true,items:1,dots:true,autoplay:true,autoPlaySpeed:8000,autoplayTimeout:8000,autoplayHoverPause:false,animateOut: 'fadeOut'});
   </script>
</body>
</html>
