<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("../partials/head") -%> 
<meta name="description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt">
<meta name="keywords" content="Nội thất cao cấp Nhật Bản">
<meta property="og:title" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
<meta property="og:description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
<title>Đặc Tính Nổi Bật | Takara standard</title>
<style media="screen">
.title-product::after{top: 70% }
.title-section::after{display: none }
.title-section p{line-height: 2 }
.h2{position: relative;font-size: 27px;padding-top: 10px;border-bottom: 0px;font-weight: 400 }main 
.container .title-section{padding: 0 20px 10px ;}main 
.container::nth-child(2) 
p{text-align: justify }
.row .text-center img{width:100% }p{color: #5e5e5e }
.enamel-contentsBlock:nth-child(odd) {flex-direction: row-reverse;}
.enamel-contentsBlock {display: flex;flex-wrap: wrap;}
.enamel-contentsBlock--clean .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_clean.jpg) no-repeat center center;background-size: cover;}.enamel-contentsBlock__image {width: 58.33333%;height: 440px;background: #ccc;}
.enamel-contentsBlock--clean .enamel-contentsBlock__titleWrap {color: #fff;background: #535353;}.enamel-contentsBlock__titleWrap {padding: 0 40px;box-sizing: border-box;width: 41.66667%;display: flex;align-items: center;justify-content: center;color: #747474;background: #eee;}
.enamel-contentsBlock__title h3 {margin-bottom: 20px;font-size: 20px;position:relative }
.fz-4 {font-size: 3.2rem;line-height: 1.2;}.enamel-contentsBlock--tools .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_tools.jpg) no-repeat center center;background-size: cover;}
.enamel-contentsBlock--moisture .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_moisture.jpg) no-repeat center center;background-size: cover;}
.enamel-contentsBlock--odor .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_material.jpg) no-repeat center center;background-size: cover;}.enamel-contentsBlock--scratched .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_scratched.jpg) no-repeat center center;background-size: cover;}
.enamel-contentsBlocks--column2 {display: flex;}.enamel-contentsBlocks--column2 .enamel-contentsBlock {width: 50%;display: block;}
.enamel-contentsBlock--material .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_odor.jpg) no-repeat center center;background-size: cover;}.enamel-contentsBlocks--column2 .enamel-contentsBlock__image {width: 100%;}.enamel-contentsBlock--material .enamel-contentsBlock__titleWrap {background: #fafafa;}.enamel-contentsBlocks--column2 .enamel-contentsBlock__titleWrap {padding: 40px;width: 100%;}.enamel-contentsBlock__titleWrap {padding: 0 40px;box-sizing: border-box;width: 41.66667%;display: flex;align-items: center;justify-content: center;color: #747474;background: #eee;}
.enamel-contentsBlock--heat .enamel-contentsBlock__image {background: url(images/thong-tin/dac-tinh-san-pham/image_heat.jpg) no-repeat center center;background-size: cover;}.enamel-contentsBlock--heat .enamel-contentsBlock__titleWrap {background: #fff;}.enamel-contentsBlocks--column2 .enamel-contentsBlock__image {width: 100%;}.callback-pd{margin-top: 10px }
.title-section img{width: 100%;margin-bottom: 10px }.enamel-contentsBlock__title h3::after {content: '';height: 1px;position: absolute;width: 100%;bottom: -5px;left: 0;background: #747474;}.enamel-contentsBlock__title {text-align: justify;;}#icon-dactinh .item:hover {background: #9b9b9b54;}#icon-dactinh .item{padding: 5px 3px 0px }#icon-dactinh .item:after{height: 100% }@media (max-width: 769px){.enamel-contentsBlock__image {padding-top: 50%;width: 100%;height: auto;}.enamel-contentsBlock__titleWrap {padding: 20px 20px 35px;box-sizing: border-box;width: 100%;}.enamel-contentsBlocks--column2 .enamel-contentsBlock {width: 100%;}.enamel-contentsBlocks--column2 {display: block;}
.fz-4 {font-size: 1.8rem;}}@media only screen and (max-width:576px){img{width: 100% }.title-section h2{font-size: 21px !important;padding-top:0px}#icon-dactinh{display:none}.enamel-contentsBlocks{margin-top:-40px}.title-product::after {bottom: 5px;z-index: 2;top: inherit !important;}}
</style>
</head>
<body>
<main class="main list">
<!-- header -->
<!-- header -->
<%- include("../partials/header") -%> 
<div class="row">
   <div class="wraper">
      <div class="slides">
         <div class="owl-carousel owl-theme" id="slider-optuong">
            <div class="item">
               <img src="images/thong-tin/dac-tinh-san-pham/T-2-đã-nén.jpg" alt="Đặc tính">
            </div>
         </div>
      </div>
   </div>
</div>
<div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn pb-0">
   <div class="col-lg-2 col-md-12 col-12">
      <div class="logo-product"><img src="images/thong-tin/dac-tinh-san-pham/dac-tinh-logo.png" alt="Logo Công Trình"></div>
   </div>
</div>
<div data-wow-delay=".25s" class="title-section text-center wow bounceIn">
   <h2 class="pb-4 ml-0">VẬT LIỆU THÉP TRÁNG MEN KÍNH</h2>
</div>
<div class="owl-carousel owl-theme mb-2" id="icon-dactinh">
   <div class="item" id="icon1">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-1.png" alt="Dễ dàng vệ sinh">
      </div>
      <div class="text">
         <p>Dễ dàng vệ sinh</p>
      </div>
   </div>
   <div class="item" id="icon2">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-2.png" alt="Thoải mái tùy chỉnh với phụ kiện hít nam châm">
      </div>
      <div class="text">
         <p>Thoải mái tùy chỉnh với<br>phụ kiện hít nam châm</p>
      </div>
   </div>
   <div class="item" id="icon3">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-3.png" alt="Không ẩm mốc, mối mọt">
      </div>
      <div class="text">
         <p>Không ẩm mốc, mối mọt</p>
      </div>
   </div>
   <div class="item" id="icon4">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-4.png" alt="Không bám mùi">
      </div>
      <div class="text">
         <p>Không bám mùi</p>
      </div>
   </div>
   <div class="item" id="icon5">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-5.png" alt="Hạn chế trầy xước">
      </div>
      <div class="text">
         <p>Hạn chế trầy xước</p>
      </div>
   </div>
   <div class="item" id="icon6">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-6.png" alt="An toàn cho sức khỏe, thân thiện với môi trường">
      </div>
      <div class="text">
         <p>An toàn cho sức khỏe, <br>thân thiện với môi trường</p>
      </div>
   </div>
   <div class="item" id="icon7">
      <div class="images">
         <img src="images/thong-tin/dac-tinh-san-pham/icon-7.png" alt="Chống cháy nổ">
      </div>
      <div class="text">
         <p>Chống cháy nổ</p>
      </div>
   </div>
</div>
<div class="container mb-4 pt-3 pb-3 mt-3">
  <div class="enamel-contentsBlocks">
     <div class="enamel-contentsBlock enamel-contentsBlock--clean" id="anchor-clean">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s" class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">DỄ DÀNG VỆ SINH</h3>
              <p style="color:#fff">
                 Sản phẩm của Takara standard từ các cánh tủ, các ngăn kéo, hay tấm ốp tường bếp đều được làm bằng vật liệu Thép tráng men kính có lớp phủ bề mặt là thủy tinh theo công nghệ riêng biệt, nên vết bẩn, vết dầu mỡ lâu ngày không thể bám dính. Để làm sạch, bạn chỉ cần lau qua bằng nước!!                 </p>
           </div>
        </div>
     </div>
     <div class="enamel-contentsBlock enamel-contentsBlock--tools" id="anchor-tools">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s" class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">TÙY CHỈNH VỚI PHỤ KIỆN HÍT NAM CHÂM</h3>
              <p>
                 Sản phẩm của Takara standard làm bằng vật liệu Thép tráng men kính nên có lõi bằng kim loại, do đó có thể sử dụng nam châm để hút, dính. Bạn có thể dễ dàng di chuyển giá để đồ, phụ kiện móc treo hay khay chứa sang vị trí mình thích trên tấm ốp tường, trên cánh tủ hay thậm chí trong các ngăn tủ.                   </p>
           </div>
        </div>
     </div>
     <div class="enamel-contentsBlock enamel-contentsBlock--moisture" id="anchor-moisture">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s"class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">KHÔNG ẨM MỐC, MỐI MỌT</h3>
              <p>
                 Tủ bếp của Takara standard với chất liệu men kính phủ ngoài và lõi thép bên trong giúp bạn hoàn toàn yên tâm sử dụng lâu dài mà không sợ cánh tủ hay hộc tủ bị cong vênh, ẩm mốc do tác động của nước. Chậu rửa của Takara standard được thiết kế hoàn toàn khác biệt (hàn liền với mặt bàn nếu mặt bàn là thép không gỉ hay được ép phía dưới bằng máy công nghiệp với mặt bàn đá), sẽ không xảy ra tình trạng rò nước sau một thời gian sử dụng.                 </p>
           </div>
        </div>
     </div>
     <div class="enamel-contentsBlock enamel-contentsBlock--odor" id="anchor-odor">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s" class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">AN TOÀN CHO SỨC KHỎE, THÂN THIỆN VỚI MÔI TRƯỜNG</h3>
              <p>
                 Khác với các loại tủ gỗ thông thường có bề mặt sơn phủ và lõi gỗ chứa Formaldehyde là một trong những tác nhân góp phần làm tăng nguy cơ ung thư và gây ảnh hưởng tới hệ thần kinh, sản phẩm Thép tráng men kính của Takara standard được làm từ 2 nguyên liệu chính là thép và thủy tinh - nguyên liệu sạch, ZERO Formaldehyde, thân thiện với môi trường, cực kỳ an toàn đối với sức khỏe người sử dụng, ngay cả với phụ nữ mang thai và trẻ nhỏ.                 </p>
           </div>
        </div>
     </div>
     <div class="enamel-contentsBlock enamel-contentsBlock--scratched" id="anchor-scratched">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s" class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">HẠN CHẾ TRẦY XƯỚC</h3>
              <p>
                 Với công nghệ làm nhám bề mặt đặc biệt và phủ thêm một lớp Niken trước khi thực hiện tráng men, sản phẩm của Takara standard có độ bền đặc biệt vượt trội. Thử nghiệm cho thấy, sản phẩm của Takara standard có thể chịu được lực bẻ cong và lực va đập tương đương một vật nặng có trọng lượng 1kg rơi từ độ cao khoảng 1m mà bề mặt không hề bị rạn nứt.                 </p>
           </div>
        </div>
     </div>
  </div>
  <div class="enamel-contentsBlocks--column2">
     <div class="enamel-contentsBlock enamel-contentsBlock--material" id="anchor-material">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s" class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">KHÔNG BÁM MÙI</h3>
              <p>
                 Tủ bếp của Takara standard với bề mặt được phủ men kính nên mùi từ các thực phẩm tươi sống không thể thẩm thấu hay bám vào khoang tủ. Các mùi thuốc lá, mùi của động vật nuôi… cũng không thể bám vào được bề mặt này; khu bếp do vậy sẽ luôn thơm tho, sạch sẽ.                 </p>
           </div>
        </div>
     </div>
       <div class="enamel-contentsBlock enamel-contentsBlock--heat" id="anchor-heat">
        <div class="enamel-contentsBlock__image"></div>
        <div class="enamel-contentsBlock__titleWrap">
           <div data-wow-delay=".25s" class="enamel-contentsBlock__title wow fadeIn">
              <h3 class="fz-4">CHỐNG CHÁY NỔ </h3>
              <p>
                 Quá trình kết hợp thép với men kính của Takara standard phải trải qua nhiệt độ cao (850 độ C), do vậy, nhiệt độ tỏa ra từ bếp nấu thông thường sẽ không thể ảnh hưởng đến sản phẩm. Sử dụng sản phẩm Thép tráng men kính của Takara standard giúp hạn chế rất nhiều rủi ro về cháy nổ.                 </p>
           </div>
        </div>
     </div>
  </div>
</div>
<footer>   
     <%- include("../partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
<script type="text/javascript" src="js/navbar-mobile.js"></script>
<script type="text/javascript">
     $('#slider-optuong').owlCarousel({loop:true,margin:10,nav:true,dots:false,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});$('#icon-dactinh').owlCarousel({loop:false,margin:0,nav:true,responsive:{0:{items:3},600:{items:3},1000:{items:5},1100:{items:7}}});$("#icon1").click(function(){$('html, body').animate({scrollTop:$("#anchor-clean").offset().top},2000);});$("#icon2").click(function(){$('html, body').animate({scrollTop:$("#anchor-tools").offset().top},2000);});$("#icon3").click(function(){$('html, body').animate({scrollTop:$("#anchor-moisture").offset().top},2000);});$("#icon4").click(function(){$('html, body').animate({scrollTop:$("#anchor-material").offset().top},2000);});$("#icon5").click(function(){$('html, body').animate({scrollTop:$("#anchor-scratched").offset().top},2000);});$("#icon6").click(function(){$('html, body').animate({scrollTop:$("#anchor-odor").offset().top},2000);});$("#icon7").click(function(){$('html, body').animate({scrollTop:$("#anchor-heat").offset().top},2000);});
</script>
</body>
</html>
