<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("../partials/head") -%> 
  <meta name="description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt">
  <meta name="keywords" content="Nội thất cao cấp Nhật Bản">
  <meta property="og:title" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
  <meta property="og:description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
   <link rel="stylesheet" type="text/css" href="css/footer-page.css">
   <title>Giới Thiệu Công Ty | Takara standard</title>
   <style media="screen">
     .content-introduce img{width: 100%}em {font-style: italic;}.content-introduce h4{position: relative;border-bottom: 1px solid #0000000f;padding-bottom: 10px}.content-introduce h4::after{position: absolute;content: "";bottom: -7px;left: 50%;transform: translateX(-50%);border-top: 1px solid #0000000f;border-right: 1px solid #0000000f;transform: rotate(134deg);width: 12px;height: 12px;background-color: white;}strong{font-weight: 600}
   </style>
</head>
<body>
   <main class="main list">
      <!-- header -->
      <%- include("../partials/header") -%> 
      <!--------------------------------------------->
      <div class="row">
         <div class="wraper">
            <div class="slides">
               <div class="owl-carousel owl-theme" id="slider-optuong">
                 <div class="item">
                   <img src="images/thong-tin/gioi-thieu/GT.jpg" alt="Mẫu giới thiệu">
                 </div>
               </div>
            </div>
         </div>
      </div>
      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
              <div class="col-lg-2 col-md-12 col-12">
                 <div class="logo-product"><img src="images/thong-tin/gioi-thieu/gioi-thieu-logo.png" alt="Logo Giới Thiệu"></div>
              </div>
      </div>
      <div class="container mb-4 pb-4">
         <div class="row">
            <div class="col-md-3 col-12 mt-4">
               <div class="btn-introduce">
                  <button type="button" class="btn btn-primary active" data-intro="nhamay">Về nhà máy Takara standard</button>
                  <button type="button" class="btn btn-primary" data-intro="congty">Về NIPPON TECH MIỀN TRUNG CO., LTD.</button>
               </div>
            </div>
            <div class="col-md-9 col-12 mt-4">
               <div class="content-introduce" style="display: block;" id="nhamay">
                  <h4 style="text-align: center;">GIỚI THIỆU CHUNG VỀ NHÀ MÁY TAKARA STANDARD</h4><p style="text-align: justify;">Nhà máy Takara standard được thành lập từ năm 1912 tại Nhật Bản và là nhà máy tiên phong trong công nghệ sản xuất Thép tráng men kính siêu bền đầu tiên trên thế giới. Trụ sở của Takara standard hiện đặt tại thành phố Osaka, doanh thu năm 2015 của Takara standard ước tính đạt 1.7 tỷ USD với số lượng nhân viên khoảng trên 6.000 người.</p><figure><img src="images/thong-tin/gioi-thieu/bando.png" alt="Sơ đồ nhà máy và kho hàng"><figcaption style="text-align: center;"><em>Sơ đồ các nhà máy và kho hàng của Takara standard tại Nhật Bản</em></figcaption></figure>
                  <p style="text-align: justify;">Takara standard tự hào là một trong những nhà cung cấp Hệ tủ bếp tráng men kính và Hệ chậu rửa tráng men kính (Washstand) hàng đầu tại Nhật Bản với hơn 170 Showroom trên toàn nước Nhật. Nhờ hệ thống sản xuất và phân phối trải dài khắp Nhật Bản, Takara standard cam kết đảm bảo sản lượng lớn để cung cấp cho thị trường nhưng vẫn giữ được chất lượng vượt trội.</p>
                  <figure><img src="images/thong-tin/gioi-thieu/Showroom-Takara-standard-tai-nhat-ban.png" alt="Showroom"><figcaption style="text-align: center;"><em>Một Showroom của Takara standard tại Nhật Bản</em></figcaption></figure><p style="text-align: justify;">Tại Việt Nam, Công ty TNHH Đầu tư và thương mại NIPPONTECH Miền Trung hiện là nhà phân phối chính thức các sản phẩm của Takara standard tại Miền Trung Việt Nam. Công ty đã xây dựng Showroom Takara standard tại địa chỉ: 201 Phan Đăng Lưu, Phường Khuê Trung, Quận Cẩm Lệ, Tp. Đà Nẵng, Việt Nam để khách hàng có thể tận mắt trải nghiệm sản phẩm.</p>                  </div>
               <div class="content-introduce" id="congty">
                  <h4>THÔNG TIN CHUNG VỀ CÔNG TY</h4>
                  <ul>
                      <li>
                          <strong>Tên công ty</strong>: CÔNG TY TNHH ĐẦU TƯ VÀ THƯƠNG MẠI NIPPON TECH MIỀN TRUNG
                        </li>
                        <li><strong>Mã số thuế</strong>: 0108945462-001</li>
                        <li><strong>Website</strong>:<a href="www.nippontech.vn"> www.nippontech.vn</a></li><li><strong>Showroom
                        </strong>: 201 Phan Đăng Lưu, Phường Khuê Trung, Quận Cẩm Lệ, Tp. Đà Nẵng, Việt Nam</li><li><strong>Chi nhánh tại Hà Nội</strong>: Tầng 10, Center Building - Hapulico, số 1 Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội</li>
                        <li><strong>Giới thiệu chung</strong>: Công ty TNHH Nippon Interia (NPI) là đơn vị phân phối chính thức của nhà sản xuất Takara standard Nhật Bản với 4 dòng sản phẩm chính: Hệ tủ bếp tráng men kính, Hệ chậu rửa (Washstand), Tấm ốp tường tráng men kính, và Phụ kiện tủ bếp.</li></ul><h4>TÔN CHỈ HOẠT ĐỘNG KINH DOANH CỦA NIPPON INTERIA</h4><p>Mang đến một cuộc sống văn minh, an toàn, tiện ích, tinh tế cho người Việt với các dịch vụ trọn gói từ tư vấn thiết kế, cung cấp và thi công lắp đặt các sản phẩm dịch vụ theo tiêu chuẩn chất lượng Nhật Bản, phong cách Nhật Bản cho thị trường Việt Nam. Chúng tôi hướng tới lựa chọn những giá trị tinh hoa, tinh tế, tinh giản, tiện ích, văn minh, hiện đại, an toàn, thân thiện của Nhật Bản phù hợp với môi trường sống và làm việc của người Việt.<br>Xây dựng và phát triển Công ty NPI là nơi mà mọi thành viên, người lao động trở thành chỗ dựa lâu dài, bền vững về công việc, vật chất, tinh thần.</p><h4>ĐỊNH HƯỚNG PHÁT TRIỂN KINH DOANH CỦA NPI</h4><h5>TẦM NHÌN</h5><p>Phấn đấu trở thành nhà cung cấp uy tín các sản phẩm hàng đầu của Nhật Bản trong lĩnh vực xây dựng, nội thất, đồ gia dụng bằng việc mang sự tinh tuý, chất lượng, văn minh, an toàn, tiện ích của Nhật Bản cho ngôi nhà Việt.</p><h5>SỨ MỆNH</h5><ul><li>1 - Mang sự văn minh, tiện ích, an toàn, sạch sẽ chất lượng Nhật Bản cho ngôi nhà Việt.</li><li>2 - Trở thành đối tác tin cậy và hợp tác lâu dài với các nhà sản xuất/nhà cung cấp, đối tác trong và ngoài nước.</li><li>3 - Xây dựng và phát triển công ty như ngôi nhà thứ hai, là nơi mà các thành viên, người lao động có thể phát triển và ổn định lâu dài.</li></ul><h5>GIÁ TRỊ CỐT LÕI</h5><ul><li>Xây dựng và phát triển công ty NPI với 8 giá trị cốt lõi sau:</li><li>1 - Hợp tác và Chia sẻ: Cùng nhau hợp tác để xây dựng và phát triển, chia sẻ khó khăn và thành quả.</li><li>2 - Tinh: Xây dựng công ty với đội ngũ tinh gọn và tinh nhuệ</li><li>3 - Tuân thủ: Tuân thủ các quy định về luật pháp, các quy chế, chính sách của Công ty, các thoả thuận với đối tác, với khách hàng</li><li>4 - Tôn trọng: Luôn tôn trọng Bản thân - Đồng nghiệp - Công ty - Đối tác - Khách hàng</li><li>5 - Hướng tới khách hàng Không ngừng hoàn thiện, sáng tạo để cung cấp dịch và sản phẩm ngày càng tốt hơn, tốt nhất cho khách hàng</li><li>6 - Nhiệt huyết và Trách nhiệm: Đề cao nỗ lực cố gắng và tinh thần trách nhiệm trong công việc.</li><li>7 - Minh bạch và Công bằng: Luôn minh bạch rõ ràng, công bằng với đồng nghiệp, công ty, nhà đầu tư, đối tác.</li><li>8 - Thân thiện và Cởi mở: Xây dựng môi trường làm việc thân thiện, vui vẻ, cởi mở, nhân văn với đồng nghiệp, với khách hàng, với đối tác.</li></ul>                  </div>
            </div>
         </div>
         <!--footer-->
       </div>   
<footer>
    <%- include("../partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/script-2.js"></script>
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
   <script type="text/javascript">
     $('#slider-optuong').owlCarousel({loop:true,margin:10,nav:true,dots:false,items:1,autoplay:true,autoPlaySpeed:3000,autoplayTimeout:3000,autoplayHoverPause:false});
   </script>
</body>
</html
