<!DOCTYPE html>
<html lang="vi" dir="ltr">
   <head>
    <%- include("../partials/head") -%> 
   <meta name="description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt">
   <meta name="keywords" content="Nội thất cao cấp Nhật Bản">
   <meta property="og:title" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
   <meta property="og:description" content="Nội thất cao cấp Nhật Bản - Chất liệu thép tráng men kính chống trầy xước, mối mọt" />
   <title>Quy trình sản xuất | Takara standard</title>
   <style media="screen">
      main .container .title-section{margin:0;padding:0 3rem;width:100%}.title-small{font-size:26px !important;line-height:28px;text-align:center;font-weight: 500;margin: 0px -15px}p{line-height:28px;color:#5e5e5e}p strong{font-weight:bolder}.text-center img{width:145px;margin:auto}h3{font-size:19px;line-height:42px;font-weight:600;color:#5e5e5e}.title-section::after{display:none}.title-section img,.row .col-sm-12.col-lg-6:nth-child(2) img{width:100%}.needafter{position:relative}.title-section h2{font-weight:600;border-top:1px solid #0000000f;padding:20px 0;margin:10px -3rem 0 -3rem}.needafter::after{content:"MISSION";z-index:-1;font-size:700%;color:#f7f7f7;text-transform:uppercase;text-align:right;position:absolute;line-height:1;bottom:18px;left:50%;transform:translateX(-56%);overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word;font-family:avobold;width:100%}.text-center.mt-5.mb-3::after{content:"PROCESS";z-index:-1;font-size:400%;color:#f7f7f7;text-transform:uppercase;text-align:right;position:absolute;line-height:1;top:13px;left:50%;transform:translateX(-77%);overflow-wrap:break-word;word-wrap:break-word;-ms-word-break:break-all;word-break:break-all;word-break:break-word;font-family:avobold;width:100%}img[alt="Sơ đồ quy trình"]{width:50%}@media only screen and (max-width:576px){.title-small{font-size: 16px!important;margin-top: 10px}.col-sm-12.col-lg-6{padding-bottom:15px}img[alt="Sơ đồ quy trình"]{width:100%}.needafter::after{font-size:360%}.text-center.mt-5.mb-3::after{transform:translateX(-60%);font-size:305%}.col-sm-12.col-lg-6{padding:0!important}}
   </style>
</head>
<body>
   <main class="main quy-trinh">
      <!-- header -->
      <!-- header -->
      <%- include("../partials/header") -%> 
      <!--------------------------------------------->

      <div data-wow-delay=".25s" class="row title-product justify-content-center wow bounceIn">
        <div class="col-lg-2 col-md-12 col-12">
          <div class="logo-product"><img src="images/thong-tin/quy-trinh-san-xuat/san-xuat-logo.png" alt="Logo Sản Xuất"></div>
        </div>
      </div>
      <div class="container mb-4">
        <div class="embed-responsive embed-responsive-16by9">
           <video controls poster="images/thong-tin/quy-trinh-san-xuat/Dac-tinh-san-pham-01-an-toan-cho-ca-gia-dinh.jpg">
           </video>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/AqzrWYC1q64" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
         <div class="row mt-4">
            <div class="col-sm-12 col-lg-6 pl-5" style="padding-right:1.5rem">
               <p class="title-small">"Kiến tạo nên những sản phẩm từ sự cam kết và trách nhiệm đối với khách hàng"</p>
               <div class="text-center m-2 needafter pt-5">
                  <img src="images/thong-tin/quy-trinh-san-xuat/mission-thumb.png" alt="mission">
               </div>
            </div>
            <div class="col-sm-12 col-lg-6 text-justify pr-5" style="padding-left:1.5rem">
               <p style="text-align: justify;">Với sứ mệnh của mình, Takara standard tuân thủ nghiêm ngặt các tiêu chuẩn chất lượng trong quy trình sản xuất. Chúng tôi coi trọng từng thao tác của người công nhân đối với từng sản phẩm: cẩn thận kiểm tra bằng mắt, chạm thử bằng tay, kiểm tra chi tiết các thao tác lắp ráp trong một quy trình khép kín với máy móc, thiết bị hiện đại và bàn tay, khối óc của con người.</p>
               <p style="text-align: justify;">Chất liệu "Thép tráng men kính" đối với chúng tôi như mang hơi thở của một sinh vật sống. Tuỳ vào nhiệt độ, độ ẩm của môi trường vào ngày sản xuất mà các điều kiện gia công cũng cần được thay đổi cho phù hợp. Những điều chỉnh thay đổi rất nhỏ đó, không phải máy móc mà chính con người mới có thể cảm nhận để tạo ra.</p>               </div>
         </div>
         <div class="title-section">
            <h2>"THÉP TRÁNG MEN KÍNH" LÀ GÌ?</h2><p style="text-align: center;"><img src="images/thong-tin/quy-trinh-san-xuat/So-do-mo-ta-quy-trinh.jpg" alt="Sơ đồ quy trình" "=""></p><p style="text-align: justify;">Thép tráng men kính của Takara standard là chất liệu được kết hợp bởi một loại thép đặc biệt (có hàm lượng carbon thấp) và men thủy tinh ở nhiệt độ khoảng 850 độ C. Sự bền vững của kim loại và vẻ đẹp của thủy tinh được kết hợp và cùng phát huy làm nên một chất liệu với những đặc tính tuyệt hảo.</p>
            <p style="text-align: justify;">Có 2 yếu tố làm ảnh hưởng tới chất lượng sản phẩm đó là: "Bản thân từng loại nguyên liệu" và "Khả năng kết dính giữa bề mặt hai loại nguyên liệu khác nhau là tấm thép và lớp men kính". Sản phẩm Thép tráng men kính được nghiên cứu và sản xuất bởi Takara standard là loại vật liệu duy nhất từ trước đến nay xử lý được cả hai vấn đề trên bằng trình độ công nghệ kỹ thuật cao. Các công đoạn chế tạo Thép tráng men kính của Takara standard như sau:</p>            </div>
         <hr>
         <div class="row mt-5" style="margin: 0px 3rem">
            <div class="col-sm-12 col-lg-6 pl-0" style="padding-right:1.5rem">
               <div class="text-center mt-5 mb-3">
                  <img src="images/thong-tin/quy-trinh-san-xuat/process-1-thumb.png" alt="process1">
               </div>
               <h3>GIA CÔNG TẤM KIM LOẠI</h3><p style="text-align: justify;">Các tấm kim loại (tấm thép) được cắt phù hợp với nhau về kích thước. Sau khi gia công, chúng được ghép nối với nhau bằng robot.</p><p style="text-align: justify;">Các công đoạn gia công tạo hình phức tạp mà robot không thể đáp ứng, sẽ được thực hiện bởi những công nhân giàu kinh nghiệm.</p>               </div>
            <div class="col-sm-12 col-lg-6 pr-0" style="padding-left:1.5rem">
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-1-Gia-cong-tam-kim-loai.png" alt="gia công kim loại"></p>               </div>
         </div>
         <hr>
         <div class="row" style="margin: 0px 3rem">
            <div class="col-sm-12 col-lg-6 pl-0" style="padding-right:1.5rem">
               <div class="text-center mt-5 mb-3">
                  <img src="images/thong-tin/quy-trinh-san-xuat/process-2-thumb.png" alt="process2">
               </div>
               <h3>TIỀN XỬ LÝ</h3><p><br></p><p style="text-align: justify;">Để tăng cường độ bám dính giữa các tấm thép và lớp phủ men kính, quá trình Tiền xử lý cần trải qua 4 công đoạn: <strong>Loại bỏ dầu mỡ → Làm nhám bề mặt → Xử lý Niken → Trung hoà axit</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;"><strong>Loại bỏ dầu mỡ</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Các tấm thép luôn được các nhà cung cấp phủ một lớp dầu mỡ để chống rỉ sét. Việc đầu tiên trước khi đưa vào gia công là phải loại bỏ lớp dầu mỡ này.</p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><strong>Làm nhám bề mặt</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Nhúng vào axit sulfuric để làm nhám bề mặt của các tấm thép. Từ đó làm tăng diện tích tiếp xúc giữa thép với men thủy tinh và tăng cường độ bám dính giữa hai loại vật liệu.</p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><strong>Xử lý Niken</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Để tăng cường độ kết dính giữa tấm thép và lớp men kính, một lớp Niken được phủ thêm vào tấm thép.</p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><strong>Trung hoà axit</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Trong quá trình Làm nhám bề mặt và Xử lý Niken, tấm thép được đun trong chất lỏng có tính axit. Sắt được axit hóa, do đó cần phải trung hòa nó bằng cách nhúng trong chất lỏng kiềm tính để ngăn ngừa gỉ sét.</p>               </div>
            <div class="col-sm-12 col-lg-6 pr-0" style="padding-left:1.5rem">
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-2-a-Tien-xu-ly.png" alt="Tiền xử lý"></p>
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-2-b-Xu-ly-Niken.png" alt="Xử lý Niken" "=""><span class="redactor-invisible-space"><br></span></p>               </div>
         </div>
         <hr>
         <div class="row" style="margin: 0px 3rem">
            <div class="col-sm-12 col-lg-6 pl-0" style="padding-right:1.5rem">
               <div class="text-center mt-5 mb-3">
                  <img src="images/thong-tin/quy-trinh-san-xuat/process-3-thumb.png" alt="process3">
               </div>
               <h3>CHẾ TẠO MEN KÍNH</h3><p><strong><br></strong></p><p><strong>Pha chế bột thủy tinh</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Nguyên liệu để chế tạo men kính là bột thủy tinh được trộn thêm các chất phụ gia, các thành phần men (như silicate, felspat, borax, soda ash, ...) với tỷ lệ thích hợp.</p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><strong>Nung chảy hỗn hợp bột thủy tinh đã được pha chế</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Nung chảy hỗn hợp các nguyên liệu trên ở nhiệt độ 1.200 đến 1.300 độ C. Có 2 phương pháp nung chảy chính là dùng: "Lò nung liên hoàn" - phương pháp này được sử dụng để sản xuất hàng loạt với khối lượng lớn; và phương pháp thứ hai là dùng "Lò nung điện" để sản xuất theo từng mẻ, khối lượng mỗi mẻ ít nhưng có thể sản xuất nhiều chủng loại men kính. Hỗn hợp nóng chảy trên nhanh chóng được làm nguội và nghiền nát thành một loại vật liệu giống như thủy tinh, được gọi là "Frit".</p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><strong>Chế tạo men kính</strong></p><p style="text-align: justify;"><strong><br></strong></p><p style="text-align: justify;">Thêm đất sét, nước, các hóa chất khác nhau vào sản phẩm Frit ở trên, nghiền nó thành dạng bùn, ta sẽ thu được một vật liệu gọi là Men kính sử dụng để phủ lên các tấm thép đã qua công đoạn tiền xử lý ở trên.</p>               </div>
            <div class="col-sm-12 col-lg-6 pr-0" style="padding-left:1.5rem">
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-3-a-Pha-che-men-thuy-tinh.png" alt="pha chế thủy tinh"></p><p><br></p><p>
                   <img src="images/thong-tin/quy-trinh-san-xuat/Picture-3-b-Nung-chay-thuy-tinh.jpg" alt="Nung chảy thủy tinh"><span class="redactor-invisible-space"><br></span></p>               </div>
         </div>
         <hr>
         <div class="row" style="margin: 0px 3rem">
            <div class="col-sm-12 col-lg-6 pl-0" style="padding-right:1.5rem">
               <div class="text-center mt-5 mb-3">
                  <img src="images/thong-tin/quy-trinh-san-xuat/process-4-thumb.png" alt="process4">
               </div>
               <h3>TRÁNG MEN</h3><p style="text-align: justify;">Thổi đều men kính đã được chế tạo ở công đoạn trên lên tấm thép đã qua giai đoạn tiền xử lý. Sau đó, làm khô triệt để trước khi cho vào lò nung. Nếu sản phẩm được đưa vào lò trong trạng thái ướt thì gần như chắc chắn, lớp men được phủ đều kia sẽ bị phá hủy khi nước bay hơi.</p>               </div>
            <div class="col-sm-12 col-lg-6 pr-0" style="padding-left:1.5rem">
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-4-Trang-men.png" alt="Tráng men"></p>               </div>
         </div>
         <hr>
         <div class="row" style="margin: 0px 3rem">
            <div class="col-sm-12 col-lg-6 pl-0" style="padding-right:1.5rem">
               <div class="text-center mt-5 mb-3">
                  <img src="images/thong-tin/quy-trinh-san-xuat/process-5-thumb.png" alt="process5">
               </div>
               <h3>NUNG</h3><p style="text-align: justify;">Cho sản phẩm ở công đoạn trên vào một lò nung ở nhiệt độ khoảng 850 độ. Lớp Frit được phun trên bề mặt sẽ nóng chảy, tạo ra lớp men có bề mặt thủy tinh mịn, sáng bóng và bám dính vào tấm thép. Ngoài ra, những nguyên liệu đã được trộn vào men kính khi nóng chảy sẽ tạo ra màu sắc cho sản phẩm.</p>               </div>
            <div class="col-sm-12 col-lg-6 pr-0" style="padding-left:1.5rem">
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-5-Nung.png" alt="Nung"></p>               </div>
         </div>
         <hr>
         <div class="row" style="margin: 0px 3rem">
            <div class="col-sm-12 col-lg-6 pl-0" style="padding-right:1.5rem">
               <div class="text-center mt-5 mb-3">
                  <img src="images/thong-tin/quy-trinh-san-xuat/process-6-thumb.png" alt="process6">
               </div>
               <h3 style="text-align: justify;">LẮP RÁP - KIỂM TRA - ĐÓNG GÓI - VẬN CHUYỂN</h3><p style="text-align: justify;">Từng chi tiết được làm ra đều phải trải qua quá trình kiểm tra nghiêm ngặt về các chỉ tiêu chất lượng như: độ dày lớp men kính, độ sai biệt về màu sắc... Những chi tiết này sẽ được lắp ráp lại với nhau thành sản phẩm hoàn chỉnh, và được vận chuyển đi sau khi được kiểm tra lại lần cuối và đóng gói.</p>               </div>
            <div class="col-sm-12 col-lg-6 pr-0" style="padding-left:1.5rem">
               <p><img src="images/thong-tin/quy-trinh-san-xuat/Picture-6-Lap-rap.png" alt="Láp ráp"></p>               </div>
         </div>
         <hr>
         <div class="title-section text-center">
                        </div>
       </div>
         <!--footer-->
<footer>
    <%- include("../partials/footer") -%> 
</footer>
</div>
</main>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MDTXCV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-easing/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js" charset="utf-8"></script>
<script type="text/javascript">
      new WOW().init();
      function validate(evt){var theEvent=evt||window.event;if(theEvent.type==='paste'){key=event.clipboardData.getData('text/plain');}else{var key=theEvent.keyCode||theEvent.which;key=String.fromCharCode(key);}
      var regex=/[0-9()]|\+/;if(!regex.test(key)){theEvent.returnValue=false;if(theEvent.preventDefault)theEvent.preventDefault();}}
      $('#facebookchat').on('click',function() {$('.fb_reset').css("opacity", "1");});
      $(document).scroll(function(){var y=$(this).scrollTop();if(y>100){$('.menu-header').addClass('menu-fixed')}else{$('.menu-header').removeClass('menu-fixed')}});
     $(".scroll-to-top").click(function(){$('html, body').animate({scrollTop:0},1000);return false;});
</script>
<!--<script type='text/javascript'>var message="NoRightClicking";function defeatIE(){if(document.all){(message);return false;}}
function defeatNS(e){if(document.layers||(document.getElementById&&!document.all)){if(e.which==2||e.which==3){(message);return false;}}}
if(document.layers){document.captureEvents(Event.MOUSEDOWN);document.onmousedown=defeatNS;}else{document.onmouseup=defeatNS;document.oncontextmenu=defeatIE;}
document.oncontextmenu=new Function("return false")</script><script type='text/javascript'>checkCtrl=false $(&#39;*&#39;).keydown(function(e){if(e.keyCode==&#39;17&#39;){checkCtrl=false}}).keyup(function(ev){if(ev.keyCode==&#39;17&#39;){checkCtrl=false}}).keydown(function(event){if(checkCtrl){if(event.keyCode==&#39;85&#39;){return false;}}})</script>-->
   <script type="text/javascript" src="js/navbar-mobile.js"></script>
</body>
</html>
